<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="CoreSSO" connectionString="2OIa2JUFhOTIUfOMQivEw7y3YR9dtwaba1MgF1ogoJVykZi5PBmAicy1E7sFJac0Bw0W4/PcmcC146PFzICWgKk6yz5429LEjPGcLXm1B03sNH6JsyZovWqBnNvTZ3dn2UEvSR7A2Xta7v31eyLNEsbSBNYnHhvY"
            providerName="System.Data.SqlClient" />
        <add name="MSTech.Log" connectionString="2OIa2JUFhOTIUfOMQivEw7y3YR9dtwaba1MgF1ogoJVykZi5PBmAicy1E7sFJac0Bw0W4/PcmcBTKz5OT5rPV+ZE2a4vWKx4fk3aZ+tP/LNx/iquimpIjEBvs3b69IMntgOMopDPRNQ="
            providerName="System.Data.SqlClient" />
        <add name="GestaoAvaliacao" connectionString="2OIa2JUFhOTIUfOMQivEw7y3YR9dtwaba1MgF1ogoJVykZi5PBmAiQCuWwGymi5nWruLyTGGphmG61lzgNoI4My4PtSUGh0QsOiasnRUOYtyJTrrrDYCvmY5A4OrCiLL0UUkHH1VSMn+T0J6ADQo7RIIqVuFeYUH"
            providerName="System.Data.SqlClient" />
        <add name="GestaoEscolar" connectionString="2OIa2JUFhOTIUfOMQivEw7y3YR9dtwaba1MgF1ogoJVykZi5PBmAiQCuWwGymi5nWruLyTGGphmWvQ5AneE4zmjdME2ES1QNI72BIXMCuYntB7apuxYFk3vd6o4lHEO5x02zBYX6+q2eF5Du6XNONsa1MV3usv4P"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
