<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="ServiceProvider" type="MSTech.SAML20.Configuration.ConfigurationReader, MSTech.SAML20" />-->
    <section name="OMRService" type="OMRService.ConfigurationService" />
  </configSections>
  <OMRService name="omrAuthentication" uri="http://dev-shared-svc.educacao.intranet:3001/" user="admin" password="bu33LP9fjzOaUlhL2DizDem0DpMfb89EstPVycdHH2MX1m7trAzt4Q==" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Chave para configurar a injeção de dependência das implementação da interface "IStorage", responsável por armazenar os arquivos -->
    <!-- Valores para configuração: Local - salvar arquivos na pasta "Files" do site ou em uma pasta na rede -->
    <add key="StorageType" value="Local" />
    <!-- se StoragePath for igual a "" os arquivos enviados serão salvos na pasta padrão Files detro da pasta do site-->
    <!-- para salvar os arquivos em uma pasta na rede é preciso criar um diretório virtual no IIS e digitar o caminho físico dessa pasta no value do StoragePath.  -->
    <!-- Por exemplo: \\nomedamaquina\pasta -->
    <add key="StoragePath" value="C:\Repositorio_SME\SME-Serap-main\Src\GestaoAvaliacao\Files" />
    <!-- Desabilita o migration -->
    <add key="DatabaseInitializerForType GestaoAvaliacao.Repository.Context.GestaoAvaliacaoContext, GestaoAvaliacao.Repository" value="Disabled" />
    <add key="DatabaseInitializerForType GestaoEscolar.Repository.Context.GestaoEscolarContext, GestaoEscolar.Repository" value="Disabled" />
    <add key="ValidIssuer" value="gestaoavaliacao" />
    <add key="securityKey" value="AM1WjpTX1cIBmn4IX242234vM16zhTWa" />
    <add key="MinutesLifetimeToken" value="20" />
    <add key="URL_API" value="https://hom-serapapi.sme.prefeitura.sp.gov.br/api" />
    <!--<add key="URL_API_LOCAL" value="http://localhost:5007/api" />-->
    <!--<add key="URL_API_HOM" value="https://hom-serapapi.sme.prefeitura.sp.gov.br/api" />-->
    <!--<add key="URL_API_SERAP_ESTUDANTES_HOM" value="https://hom-serap-estudante.sme.prefeitura.sp.gov.br/api/v1/" />-->
    <!--<add key="URL_API_SERAP_ESTUDANTES_LOCAL" value="https://localhost:44360/api/v1/" />-->
    <!--<add key="URL_API_SIMULADOR_SERAP_ESTUDANTES_HOM" value="https://hom-serap-estudante.sme.prefeitura.sp.gov.br/simulador/api/v1/" />-->
    <!--<add key="URL_API_SIMULADOR_SERAP_ESTUDANTES_LOCAL" value="https://localhost:5096/simulador/api/v1/" />-->
    <add key="URL_API_SERAP_ESTUDANTES" value="https://localhost:5998/api/v1/" />
    <add key="URL_ADMIN_SERAP_ESTUDANTES" value="https://hom-serap-estudante.sme.prefeitura.sp.gov.br/#/login/admin/" />
    <add key="URL_ADMIN_ACOMPANHAMENTO_PROVA" value="https://dev-serap-acompanhamento.sme.prefeitura.sp.gov.br/" />
    <add key="URL_API_SIMULADOR_SERAP_ESTUDANTES" value="https://hom-serap-estudante.sme.prefeitura.sp.gov.br/simulador/api/v1/" />
    <add key="URL_SIMULADOR_SERAP_ESTUDANTES" value="https://hom-serap-estudante.sme.prefeitura.sp.gov.br/simulador/#/login/" />
    <add key="ChaveSerapProvaApi" value="59A3DB6382FE4519886E859F71E06C1E" />
    <add key="ChaveSimuladorProvaApi" value="B07E87044FE24077A69C3110CF032320"/>
    <add key="EndPointRedis" value="localhost:6379" />
    <!--conexão do banco de dados do mongodb-->
    <add key="MongoDB_Connection" value="p6IsYP5FsvCSyTu71IXXZ1WE/agK+ItDHaOynjdkgXXF7KBm6WTTigMidM9mTDSxKUtT43VyqOPVYPd3KHPwHprwVULAJvBMhjr9NUs3J/S2FK1Ny57xDcghRmEvpe2VRr1+DVMRZBBvDQxRRINg9uTxAx94dbtS+u3IEMtdjpQrFzVlVkDPHnSwTWtgmtrLft+VhBP2SeK+bVPnuHs1ji/Z956sJkt+" />
    <add key="MongoDB_Database" value="GestaoAvaliacao_OMR" />
    <!--Autenticador Identity Server -->
    <add key="Cookies_AuthenticationType" value="Cookies" />
    <add key="Cookies_CookieName" value="SMESP.IDS" />
    <!--<add key="Cookies_CookieDomain" value=".sme.prefeitura.sp.gov.br"/>-->
    <add key="Cookies_CookieDomain" value="localhost" />
    <!--local-->
    <add key="AuthenticationType" value="smesp" />
    <add key="SignInAsAuthenticationType" value="Cookies" />
    <!--<add key="Authority" value="https://identity.sme.prefeitura.sp.gov.br"/>-->
    <add key="Authority" value="https://hom-identity.sme.prefeitura.sp.gov.br" />
    <!--<add key="Authority" value="http://localhost:5000/" />-->
    <!--<add key="RedirectUri" value="http://dev-serap.sme.prefeitura.sp.gov.br/Account/LoginSSO"/>-->
    <add key="RedirectUri" value="http://localhost:54127/Account/LoginSSO" />
    <!-- url escolhas -->
    <add key="ClientId" value="smespmvc" />
    <add key="ClientSecret" value="smespidentity" />
    <add key="Scope" value="openid profile smespapi" />
    <add key="ResponseType" value="code id_token token" />
    <!--<add key="EndpointUserInfo" value="http://dev-identity.sme.prefeitura.sp.gov.br/connect/userinfo"/>-->
    <!--Autenticador Identity Server -->
    <add key="EndpointUserInfo" value="https://hom-identity.sme.prefeitura.sp.gov.br/connect/userinfo" />
    <!--Autenticador Identity Server local-->
    <!--<add key="EndpointUserInfo" value="http://localhost:5000/connect/userinfo" />-->
    <add key="UrlNotificationAPI" value="http://notificacaoapi.sme.prefeitura.sp.gov.br" />
    <add key="UrlNotificationSignalR" value="http://notificacaoservice.sme.prefeitura.sp.gov.br/signalr/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483644" />
    <!-- flag httpOnlyCookies impede que o cookie seja acessado via script -->
    <httpCookies httpOnlyCookies="true" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <!--forms o "name" deve ser diferente para cada site-->
    <authentication mode="None" />
    <!--
    <authentication mode="Forms">
      <forms name="2791BA23-D807-55C4-806E-C7A7972E2398" cookieless="UseCookies" timeout="60" protection="All" slidingExpiration="true" loginUrl="Account/LogoutSSO" path="/" />
    </authentication>
    -->
    <!--sessionState Cada cookieName deve ser diferente para cada site-->
    <!--<sessionStateXX cookieName="CC7970D4-5AA9-492C-A64C-3FCFABCD7371" cookieless="UseCookies" timeout="60" mode="InProc" />-->
    <sessionState cookieName="CC7970D4-5AA9-492C-A64C-3FCFABCD7371" timeout="60" mode="InProc" />
    <customErrors mode="Off" defaultRedirect="Error" />
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
      </namespaces>
    </pages>
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="MvcSiteMapProvider" description="Default SiteMap provider." type="MSTech.CoreSSO.Providers.SsoSiteMapProvider, MSTech.CoreSSO.Providers" securityTrimmingEnabled="true" urlRoot="/" sistemaID="204" />
      </providers>
    </siteMap>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache10Minutes" duration="600" varyByParam="*" />
          <add name="Cache1Day" duration="86400" varyByParam="*" varyByHeader="CurrentPage;PageSize" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <connectionStrings>
    <add name="ProvaSP" connectionString="Data Source=server;Initial Catalog=ProvaSP;User Id=user;Password=pwd;MultipleActiveResultSets=True;" />
    <add name="ProvaSP_CoreSSO" connectionString="Data Source=server;Initial Catalog=CoreSSO;User Id=user;Password=pwd;" />
    <add name="ProvaSP_GestaoEscolar" connectionString="Data Source=server;Initial Catalog=GestaoAvaliacao_SGP;User Id=user;Password=pwd;" />
    <add name="DEBUG_ProvaSP" connectionString="Data Source=server;Initial Catalog=ProvaSP;User Id=user;Password=pwd;MultipleActiveResultSets=True;" />
    <add name="DEBUG_ProvaSP_CoreSSO" connectionString="Data Source=server;Initial Catalog=CoreSSO;User Id=user;Password=pwd;" />
    <add name="DEBUG_ProvaSP_GestaoEscolar" connectionString="Data Source=server;Initial Catalog=GestaoAvaliacao_SGP;User Id=user;Password=pwd;" />
  </connectionStrings>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept, Authorization"/>-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483644" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--configurações do SAML-->
  <!--
  <ServiceProvider id="http://localhost:2549/Account" xmlns="urn:MSTech.SAML20.Configuration">
    <ServiceEndpoint type="signon" localpath="http://localhost:2549/Home" redirectUrl="http://localhost:54296/SAML/Signon.aspx">
      <SigningCertificate keyFile="~/samlcert.pfx" password="YS2OglvxHMwaTWXkzeTOTw==" />
    </ServiceEndpoint>
    <ServiceEndpoint type="logout" localpath="http://localhost:2549/Account/LogoutSSO" redirectUrl="http://localhost:54296/Logout.ashx" />
  </ServiceProvider>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>