@*Alertas*@
<alert></alert>
<div class="wellCustom" data-ng-controller="FormAbsenceReasonController">
    <div class="headerCustom">
        <h4>Motivo de ausência<span>Crie um novo motivo de ausência</span></h4>
    </div>
    <div class="well well-large">
        <form role="form">
            <div class="boxConteudo">
                <div class="form-group">
                    <div class="container-fluid semPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="campoLabel">
                                    <label for="absenceReason.Description">Descrição*:</label>
                                    <div>
                                        <input type="text" id="description" class="form-control ng-pristine ng-valid" maxlength="100" placeholder="Digite aqui a descrição" ng-model="absenceReason.Description">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="campoLabel">
                                    <div class="checkbox checkbox-colunas checkbox-primary">
                                        <input id="itemPadrao" type="checkbox" ng-click="setNewDefault()" ng-model="absenceReason.IsDefault" />
                                        <label for="itemPadrao">
                                            Padrão
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-hide="true">
                            <div class="col-md-12">
                                <div class="campoLabel">
                                    <div class="checkbox checkbox-colunas checkbox-primary">
                                        <input id="absenceReason.AllowRetry" type="checkbox" ng-model="absenceReason.AllowRetry" />
                                        <label for="absenceReason.AllowRetry">
                                            Permite refazer a prova
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="well well-large itens">
        <button class="btnCancelar pull-right" ng-click="voltar()">Cancelar</button>
        <button class="btnPadrao2 pull-right" ng-click="salvar()">Salvar</button>
    </div>
</div>
