################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/*.pdb
**/*.cache
**/bin/
**/*.dll
/Src/.vs/GestaoAvaliacao/config/applicationhost.config
/Src/.vs/GestaoAvaliacao/v16/.suo
/Src/.vs/GestaoAvaliacao/v16/Server/sqlite3
/Src/GestaoAvaliacao/GestaoAvaliacao.csproj.user
/Src/GestaoAvaliacao.API/GestaoAvaliacao.API.csproj.user
/Src/ProvaSP.Web/ProvaSP.Web.csproj.user
/Src/AvaliaMais.FolhaRespostas.Application/bin/Debug
/Src/AvaliaMais.FolhaRespostas.Application/obj/Debug
/Src/AvaliaMais.FolhaRespostas.Data/bin/Debug
/Src/AvaliaMais.FolhaRespostas.Data/obj/Debug
/Src/AvaliaMais.FolhaRespostas.Domain/bin/Debug
/Src/AvaliaMais.FolhaRespostas.Domain/obj/Debug
/Src/AvaliaMais.FolhaRespostas.Infra.IoC/obj/Debug
/Src/AvaliaMais.FolhaRespostas.ProcessamentoProva.Test/obj/Debug
/Src/CoreIDS.Database/obj/Debug
/Src/CoreSSO.Database/obj/Debug
/Src/DbUpdater/obj/Debug
/Src/GestaoAvaliacao/obj/Debug
/Src/GestaoAvaliacao.AnswerSheetLotExecuter/obj/Debug
/Src/GestaoAvaliacao.AnswerSheetLotInstaller/obj/Debug
/Src/GestaoAvaliacao.AnswerSheetLotService/obj/Debug
/Src/GestaoAvaliacao.API/obj/Debug
/Src/GestaoAvaliacao.Business/bin/Debug
/Src/GestaoAvaliacao.Business/obj/Debug
/Src/GestaoAvaliacao.CorrectionResultInstaller/obj/Debug
/Src/GestaoAvaliacao.CorrectionResultService/obj/Debug
/Src/GestaoAvaliacao.Database/obj/Debug
/Src/GestaoAvaliacao.Entities/bin/Debug
/Src/GestaoAvaliacao.Entities/obj/Debug
/Src/GestaoAvaliacao.ExportAnalysisInstaller/obj/Debug
/Src/GestaoAvaliacao.ExportAnalysisService/obj/Debug
/Src/GestaoAvaliacao.FileServer/bin/Debug
/Src/GestaoAvaliacao.FileServer/obj/Debug
/Src/GestaoAvaliacao.TestesDeMetodos/obj/Debug
/Src/GestaoAvaliacao.TestesDeMetodos/bin/Debug
/Src/GestaoAvaliacao.Manutencao.MultiMatriculasAtivas/obj/Debug
/Src/GestaoAvaliacao.Manutencao.MultiMatriculasAtivas/bin/Debug
/Src/GestaoAvaliacao.GenerateNewCorrectionResultInstaller/obj/Debug
/Src/GestaoAvaliacao.GenerateNewCorrectionResultService/obj/Debug
/Src/GestaoAvaliacao.IBusiness/bin/Debug
/Src/GestaoAvaliacao.IBusiness/obj/Debug
/Src/GestaoAvaliacao.IFileServer/bin/Debug
/Src/GestaoAvaliacao.IFileServer/obj/Debug
/Src/GestaoAvaliacao.IPDFConverter/bin/Debug
/Src/GestaoAvaliacao.IPDFConverter/obj/Debug
/Src/GestaoAvaliacao.IRepository/bin/Debug
/Src/GestaoAvaliacao.IRepository/obj/Debug
/Src/GestaoAvaliacao.LogFacade/bin/Debug
/Src/GestaoAvaliacao.LogFacade/obj/Debug
/Src/GestaoAvaliacao.MappingDependence/bin/Debug
/Src/GestaoAvaliacao.MappingDependence/obj/Debug
/Src/GestaoAvaliacao.MongoEntities/bin/Debug
/Src/GestaoAvaliacao.MongoEntities/obj/Debug
/Src/GestaoAvaliacao.MongoRepository/bin/Debug
/Src/GestaoAvaliacao.MongoRepository/obj/Debug
/Src/GestaoAvaliacao.PDFConverter/bin/Debug
/Src/GestaoAvaliacao.PDFConverter/obj/Debug
/Src/GestaoAvaliacao.PDFConverter.Template/obj/Debug
/Src/GestaoAvaliacao.Repository/bin/Debug
/Src/GestaoAvaliacao.Repository/obj/Debug
/Src/GestaoAvaliacao.Services/obj/Debug
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueInstaller/obj/Debug
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueService/obj/Debug
/Src/GestaoAvaliacao.Util/bin/Debug
/Src/GestaoAvaliacao.Util/obj/Debug
/Src/GestaoAvaliacao.WebProject/bin/Debug
/Src/GestaoAvaliacao.WebProject/obj/Debug
/Src/GestaoAvaliacaoSGP.Database/obj/Debug
/Src/GestaoEscola.Dll/bin/Debug
/Src/GestaoEscola.Dll/obj/Debug
/Src/GestaoEscolar.Business/bin/Debug
/Src/GestaoEscolar.Business/obj/Debug
/Src/GestaoEscolar.Entities/bin/Debug
/Src/GestaoEscolar.Entities/obj/Debug
/Src/GestaoEscolar.IBusiness/bin/Debug
/Src/GestaoEscolar.IBusiness/obj/Debug
/Src/GestaoEscolar.IRepository/bin/Debug
/Src/GestaoEscolar.IRepository/obj/Debug
/Src/OMRService/bin/Debug
/Src/OMRService/obj/Debug
/Src/ProvaSP.Console/obj/Debug
/Src/ProvaSP.Data/obj/Debug
/Src/ProvaSP.Database/obj/Debug
/Src/ProvaSP.Model/obj/Debug
/Src/ProvaSP.Tests/obj/Debug
/Src/ProvaSP.Web/obj/Debug
/Src/AvaliaMais.FolhaRespostas.Infra.IoC/bin/Debug
/Src/AvaliaMais.FolhaRespostas.ProcessamentoProva.Test/bin/Debug
/Src/CoreIDS.Database/bin/Debug
/Src/CoreSSO.Database/bin/Debug
/Src/DbUpdater/bin/Debug
/Src/AvaliaMais.FolhaRespostas.Application/bin/Release
/Src/AvaliaMais.FolhaRespostas.Application/obj/Release
/Src/AvaliaMais.FolhaRespostas.Data/bin/Release
/Src/AvaliaMais.FolhaRespostas.Data/obj/Release
/Src/AvaliaMais.FolhaRespostas.Domain/bin/Release
/Src/AvaliaMais.FolhaRespostas.Domain/obj/Release
/Src/AvaliaMais.FolhaRespostas.Infra.IoC/bin/Release
/Src/AvaliaMais.FolhaRespostas.Infra.IoC/obj/Release
/Src/AvaliaMais.FolhaRespostas.ProcessamentoProva.Test/obj/Release
/Src/CoreIDS.Database/obj/Release
/Src/CoreSSO.Database/obj/Release
/Src/DbUpdater/obj/Release
/Src/GestaoAvaliacao/obj/Release
/Src/GestaoAvaliacao/Properties/PublishProfiles
/Src/GestaoAvaliacao.AnswerSheetLotExecuter/bin/Debug
/Src/GestaoAvaliacao.AnswerSheetLotExecuter/obj/Release
/Src/GestaoAvaliacao.AnswerSheetLotInstaller/bin/Debug
/Src/GestaoAvaliacao.AnswerSheetLotInstaller/obj/Release/TempPE
/Src/GestaoAvaliacao.AnswerSheetLotInstaller/obj/Release
/Src/GestaoAvaliacao.AnswerSheetLotService/bin/Debug
/Src/GestaoAvaliacao.AnswerSheetLotService/obj/Release
/Src/GestaoAvaliacao.Business/bin/Release
/Src/GestaoAvaliacao.Business/obj/Release
/Src/GestaoAvaliacao.CorrectionResultInstaller/bin/Debug
/Src/GestaoAvaliacao.CorrectionResultInstaller/obj/Release
/Src/GestaoAvaliacao.CorrectionResultService/bin/Debug
/Src/GestaoAvaliacao.CorrectionResultService/obj/Release
/Src/GestaoAvaliacao.Database/bin/Debug
/Src/GestaoAvaliacao.Database/obj/Release
/Src/GestaoAvaliacao.Entities/bin/Release
/Src/GestaoAvaliacao.Entities/obj/Release
/Src/GestaoAvaliacao.ExportAnalysisInstaller/bin/Debug
/Src/GestaoAvaliacao.ExportAnalysisInstaller/obj/Release
/Src/GestaoAvaliacao.ExportAnalysisService/bin/Debug
/Src/GestaoAvaliacao.ExportAnalysisService/obj/Release
/Src/GestaoAvaliacao.FGVIntegration/bin/Debug
/Src/GestaoAvaliacao.FGVIntegration/bin/Release
/Src/GestaoAvaliacao.FGVIntegration/obj/Debug
/Src/GestaoAvaliacao.FGVIntegration/obj/Release
/Src/GestaoAvaliacao.FileServer/bin/Release
/Src/GestaoAvaliacao.FileServer/obj/Release
/Src/GestaoAvaliacao.GenerateNewCorrectionResultInstaller/bin/Debug
/Src/GestaoAvaliacao.GenerateNewCorrectionResultInstaller/obj/Release
/Src/GestaoAvaliacao.GenerateNewCorrectionResultService/bin/Debug
/Src/GestaoAvaliacao.GenerateNewCorrectionResultService/obj/Release
/Src/GestaoAvaliacao.IBusiness/bin/Release
/Src/GestaoAvaliacao.IBusiness/obj/Release
/Src/GestaoAvaliacao.IFileServer/bin/Release
/Src/GestaoAvaliacao.IFileServer/obj/Release
/Src/GestaoAvaliacao.IPDFConverter/bin/Release
/Src/GestaoAvaliacao.IPDFConverter/obj/Release
/Src/GestaoAvaliacao.IRepository/bin/Release
/Src/GestaoAvaliacao.IRepository/obj/Release
/Src/GestaoAvaliacao.LogFacade/bin/Release
/Src/GestaoAvaliacao.LogFacade/obj/Release
/Src/GestaoAvaliacao.MappingDependence/bin/Release
/Src/GestaoAvaliacao.MappingDependence/obj/Release
/Src/GestaoAvaliacao.MongoEntities/bin/Release
/Src/GestaoAvaliacao.MongoEntities/obj/Release
/Src/GestaoAvaliacao.MongoRepository/bin/Release
/Src/GestaoAvaliacao.MongoRepository/obj/Release
/Src/GestaoAvaliacao.PDFConverter/bin/Release
/Src/GestaoAvaliacao.PDFConverter/obj/Release
/Src/GestaoAvaliacao.PDFConverter.Template/bin/Debug
/Src/GestaoAvaliacao.PDFConverter.Template/obj/Release
/Src/GestaoAvaliacao.Repository/bin/Release
/Src/GestaoAvaliacao.Repository/obj/Release
/Src/GestaoAvaliacao.Services/bin/Debug
/Src/GestaoAvaliacao.Services/obj/Release
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueInstaller/bin/Debug
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueInstaller/obj/Release
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueService/bin/Debug
/Src/GestaoAvaliacao.UnzipAnswerSheetQueueService/obj/Release
/Src/GestaoAvaliacao.Util/bin/Release
/Src/GestaoAvaliacao.Util/obj/Release
/Src/GestaoAvaliacao.API/obj/Release
/Src/GestaoAvaliacao.WebProject/bin/Release
/Src/GestaoAvaliacao.WebProject/obj/Release
/Src/GestaoAvaliacaoSGP.Database/bin/Debug
/Src/GestaoAvaliacaoSGP.Database/obj/Release
/Src/GestaoEscola.Dll/bin/Release
/Src/GestaoEscola.Dll/obj/Release
/Src/GestaoEscolar.Business/bin/Release
/Src/GestaoEscolar.Business/obj/Release
/Src/GestaoEscolar.Entities/bin/Release
/Src/GestaoEscolar.Entities/obj/Release
/Src/GestaoEscolar.IBusiness/bin/Release
/Src/GestaoEscolar.IBusiness/obj/Release
/Src/GestaoEscolar.IRepository/bin/Release
/Src/GestaoEscolar.IRepository/obj/Release
/Src/OMRService/bin/Release
/Src/OMRService/obj/Release
/Src/ProvaSP.Data/bin/Debug
/Src/ProvaSP.Data/bin/Release
/Src/ProvaSP.Data/obj/Release
/Src/ProvaSP.Database/bin/Debug
/Src/ProvaSP.Database/obj/Release
/Src/ProvaSP.Model/bin/Debug
/Src/ProvaSP.Model/bin/Release
/Src/ProvaSP.Model/obj/Release
/Src/ProvaSP.Tests/bin/Debug
/Src/ProvaSP.Tests/obj/Release
/Src/ProvaSP.Web/obj/Release
/Src/ProvaSP.Console/bin/Debug
/Src/ProvaSP.Console/obj/Release
/Src/ProvaSP.Web/bin
/Src/.vs/GestaoAvaliacao/v16/TestStore/0
/Src/packages
/Src/GestaoAvaliacao.API/bin
/Src/GestaoAvaliacao/Files/Lote/2017
/Src/GestaoAvaliacao/Files/Lote/2018
/Src/GestaoAvaliacao/Files/Lote/2019
/Src/GestaoAvaliacao/Files/Lote/2020
/Src/GestaoAvaliacao/Files/Lote/2021
/Src/GestaoAvaliacao/bin
/Src/ProvaSP.App/www
**/*.pubxml.user
**/*.obj
**/obj/
.vs
**/*.csprojAssemblyReference.cache



