<div class="row" ng-show="ehCadeiaBlocos">
    <div class="row">
        <div class="col-md-12">
            <div class="cards">
                <h4 class="padding"><strong>{{ e1_testDescription }}</strong></h4>
                <table class="table table-hover">
                    <colgroup>
                        <col width="17%" />
                        <col width="17%" />
                        <col width="17%" />
                        <col width="17%" />
                        <col width="16%" />
                        <col width="16%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="table-parameter-centralize">Cadernos</th>
                            <th class="table-parameter-centralize">Blocos selecionados</th>
                            <th class="table-parameter-centralize" colspan="2">Não selecionados</th>
                            <th class="table-parameter-centralize">Adicionar blocos</th>
                            <th class="table-parameter-centralize">Visualizar itens</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="caderno in cadernosComBlocos">
                            <th class="table-parameter-centralize">{{ caderno.Description }}</th>
                            <th class="table-parameter-centralize">{{ caderno.BlocosCount }}</th>
                            <th class="table-parameter-centralize">
                                <div style="text-align: right">
                                    {{ caderno.Resto >-1? caderno.Resto:0 }}
                                </div>
                            </th>

                            <th class="table-parameter-centralize ">
                                <i title="{{ (caderno.Total === caderno.BlocosCount && caderno.BlocosCount !== 0) ? '' : 'Selecione blocos para este caderno' }}" ng-class="{ true:'material-icons check-success pull-left', false:'material-icons status-Error pull-left' }
                                    [ caderno.Total === caderno.BlocosCount && caderno.BlocosCount !== 0 ]">
                                    {{ (caderno.Total === caderno.BlocosCount && caderno.BlocosCount !== 0) ? 'done' : mostrarAvisoQtdBlocosCadernoNaoAtingida ? 'error' : '' }}
                                </i>
                            </th>

                            <th class="table-parameter-centralize">
                                <a ng-click="e3_callModalAddBlocosCaderno(caderno)"><i type="button" class="material-icons">add_box</i></a>
                            </th>

                            <th class="table-parameter-centralize">
                                <a ng-click="e3_callModalViewItensCaderno(caderno)"><i type="button" class="material-icons">visibility</i></a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
