<div class="modal fade" id="modalViewItensCaderno" tabindex="-1" role="dialog" aria-labelledby="modalViewItensCaderno" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            @*HEADER*@
            <div class="modal-header">
                <h4 class="modal-title" id="modalViewItensCadernoLabel">
                    <strong>Lista de itens selecionados</strong>
                </h4>
            </div>
        </div>
    </div>
</div>
