@using GestaoAvaliacao.WebProject.Facade
<alert></alert>
<div class="wellCustom" ng-controller="TestListController" ng-show="labels.show" ng-init="getAuthorize(@Json.Encode(ViewBag.dados), @Json.Encode(ViewBag.GroupFilter));">
    @* Header *@
    <div class="headerCustom">
        <h4>{{labels.header}}<span></span></h4>
    </div>
    <div class="pesquisa-codigo row">
        <div class="col-md-8">
            <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                    <input type="text" fieldinteger maxlength="9" class="form-pesquisa cinza" name="myText" placeholder="Código da prova" ng-model="codItem" pattern="^[0-9]*$">
                </div>
                <button class="btn-pesquisar" ng-click="searchFilterValidation(true, 0)" title="Pesquisar"><i class="material-icons">search</i></button>
            </form>
        </div>
        <div class="filtrar-lista col-md-4">
            <a href="javascript:void(0)" data-ng-click="open();" data-side-filters>
                <i class="material-icons" data-side-filters>filter_list</i>
                <label data-side-filters>Filtrar consulta de provas</label>
                <div class="notificationFilter"
                     data-trigger="hover"
                     data-type="success"
                     data-title="Filtros selecionados"
                     data-placement="top"
                     data-container="body"
                     data-bs-tooltip>{{countFilter}}</div>
            </a>
        </div>
    </div>
    <div class="panel-search side-filters" data-side-filters>
        <a href="javascript:void(0)" data-ng-click="open();" class="filtro-menu">
            <i class="material-icons">filter_list</i>
            <label class="filtroP">Filtrar consulta de provas</label>
            <i class="material-icons fecha">arrow_forward</i>
        </a>
        <div class="col-seach" data-side-filters>
            <label data-side-filters>{{labels.testType}}</label>
            <div data-side-filters>
                <select class="form-control"
                        ng-model="selectedTestType"
                        ng-change="getDisciplines(); loadFrequencyApplication();"
                        ng-options="testType as testType.Description for testType in labels.testTypeList track by testType.Id"
                        ng-title="labels.testTypeList"
                        ng-title-propertie="Description"
                        ng-title-index="1"
                        ng-title-selected
                        data-side-filters>
                    <option value="">--Selecione--</option>
                </select>
            </div>
        </div>
        <div class="col-seach" data-side-filters>
            <div data-side-filters>
                <label data-side-filters>Grupos</label>
                <select class="form-control"
                        ng-change="getSubGroup(); clearByFilter('Group');"
                        ng-model="selectedGroup"
                        ng-options="group as group.Description for group in listFilter.Groups track by group.Id"
                        ng-title="listFilter.Groups"
                        ng-title-propertie="Description"
                        ng-title-index="1"
                        ng-title-selected
                        data-side-filters>
                    <option value="">Selecione um grupo</option>
                </select>
            </div>
        </div>
        <div class="col-seach" data-side-filters ng-show="selectedGroup">
            <div data-side-filters>
                <label data-side-filters>Subgrupos</label>
                <select class="form-control"
                        ng-change=""
                        ng-model="selectedSubGroup"
                        ng-options="subgroup as subgroup.Description for subgroup in listFilter.SubGroups track by subgroup.Id"
                        ng-title="listFilter.SubGroups"
                        ng-title-propertie="Description"
                        ng-title-index="1"
                        ng-title-selected
                        data-side-filters>
                    <option value="">Selecione um subgrupo</option>
                </select>
            </div>
        </div>

        @* Frequência de aplicação *@
        <div class="col-seach" data-side-filters ng-show="selectedTestType.FrequencyApplication == EnumFrequencyApplication.Yearly">
            <label data-side-filters>{{labels.frequencyApplication}}:</label>
            <div data-side-filters>
                <select class="form-control" title="Anual"><option title="Anual" selected="selected">Anual</option></select>
            </div>
        </div>
        <div class="col-seach" data-side-filters ng-show="selectedTestType.FrequencyApplication != EnumFrequencyApplication.Yearly">
            <label data-side-filters>{{labels.frequencyApplication}}:</label>
            <div data-side-filters>
                <select class="form-control"
                        ng-model="frequencyApplication"
                        ng-options="frequency.Id as frequency.Description for frequency in frequencyApplicationList track by frequency.Id"
                        ng-disabled="!selectedTestType"
                        ng-title="frequencyApplicationList"
                        ng-title-propertie="Description"
                        ng-title-index="1"
                        ng-title-selected
                        data-side-filters>
                    <option value="">--Selecione--</option>
                </select>
            </div>
        </div>
        @* Disciplina *@
        <div class="col-seach" data-side-filters>
            <label data-side-filters>{{labels.discipline}}</label>
            <div data-side-filters>
                <select class="form-control"
                        ng-model="selectedDiscipline"
                        ng-options="discipline as discipline.Description for discipline in labels.disciplineList track by discipline.Id"
                        ng-disabled="!selectedTestType"
                        ng-title="labels.disciplineList"
                        ng-title-propertie="Description"
                        ng-title-index="1"
                        ng-title-selected
                        data-side-filters>
                    <option value="">--Selecione--</option>
                </select>
            </div>
        </div>
        <br />
        <div class="col-seach" data-side-filters>
            <label data-side-filters>{{labels.criacao}}</label>
            <br />
            <div class="calendario-grafico" data-side-filters>
                <label data-side-filters>De </label>
                <button type="button" ng-click="datepicker('dateStart')" data-side-filters>
                    <i class="material-icons">event</i>
                </button>
                <input class="dateInput" type="text" placeholder="Data de Início" ng-model="dateStart" id="dateStart" datepicker data-side-filters />
            </div>
            <div class="calendario-grafico" data-side-filters>
                <label data-side-filters>até </label>
                <button type="button" ng-click="datepicker('dateEnd')" data-side-filters>
                    <i class="material-icons">event</i>
                </button>
                <input class="dateInput" type="text" placeholder="Data de Término" ng-model="dateEnd" id="dateEnd" datepicker data-side-filters />
            </div>
        </div>
        <div class="col-seach" data-side-filters>
            <label data-side-filters>{{labels.situacao}}</label>
            <div class="checkbox checkbox-primary" ng-repeat="situacao in labels.situacaoList" data-side-filters>
                <input id="check_{{situacao.Id}}" type="checkbox" ng-model="situacao.Checked">
                <label for="check_{{situacao.Id}}" data-side-filters>
                    <span ng-class="situacao.Style">{{situacao.Icon}}</span>{{situacao.Description}}
                </label>
            </div>
        </div>
        <div class="col-seach" data-side-filters ng-if="profile == visAdmin">
            <div data-side-filters>
                <label data-side-filters>Provas ocultas</label>
                <div class="switch" ng-click="selectedVisible();" data-side-filters
                     ng-class="{'off': !visibleTest}"><input type="button"></div>
            </div>
        </div>
        <div class="col-seach" data-side-filters>
            <div data-side-filters>
                <label data-side-filters>Provas multidisciplinares</label>
                <div class="switch" ng-click="selectedMultidiscipline();" data-side-filters
                     ng-class="{'off': !visibleMultidiscipline}"><input type="button" /></div>
            </div>
        </div>
        <div class="col-seach" data-side-filters>
            <div data-side-filters>
                <label data-side-filters style="display:inline">Tipo:</label>
                <div class="radio radio-primary" data-side-filters style="display: inline; margin-left: 25px;">
                    <input name="global" id="global" type="radio" ng-value="true" ng-model="global" ng-change="clearGlobalFilters();">
                    <label for="global">{{labelTermGlobal}}</label>
                </div>
                <div class="radio radio-primary" data-side-filters style="display: inline; margin-left: 25px;">
                    <input name="local" id="local" type="radio" ng-value="false" ng-model="global">
                    <label for="local">{{labelTermLocal}}</label>
                </div>
            </div>
        </div>
        <div data-side-filters ng-if="!global">
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>DREs</label>
                    <select class="form-control"
                            ng-change="getSchools();clearByFilter('DRE');"
                            ng-model="filters.DRE"
                            ng-options="dre as dre.Description for dre in listFilter.DREs track by dre.Id"
                            ng-title="listFilter.DREs"
                            ng-title-propertie="Description"
                            ng-title-selected
                            ng-title-index="1">
                        <option value="">Todas as DREs</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>Escolas</label>
                    <select class="form-control"
                            ng-change="getYears(); getTurns(); clearByFilter('School');"
                            ng-model="filters.School"
                            ng-options="scholl as scholl.Description for scholl in listFilter.Schools track by scholl.Id"
                            ng-title="listFilter.Schools"
                            ng-title-propertie="Description"
                            ng-title-selected
                            ng-title-index="1">
                        <option value="">Todas as escolas</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>Anos</label>
                    <select class="form-control"
                            ng-model="filters.Year"
                            ng-options="year as year.Description for year in listFilter.Years track by year.Id"
                            ng-title="listFilter.Years"
                            ng-title-propertie="Description"
                            ng-title-selected
                            ng-title-index="1">
                        <option value="">Todos os anos</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>Turnos</label>
                    <select class="form-control"
                            ng-model="filters.Turn"
                            ng-options="turn as turn.Description for turn in listFilter.Turns track by turn.Id"
                            ng-title="listFilter.Turns"
                            ng-title-propertie="Description"
                            ng-title-selected
                            ng-title-index="1">
                        <option value="">Todos os turnos</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-seach" data-side-filters>
            <div style="display: inline-block; width: 100%;" data-side-filters>
                <button class="btnCancelar pull-right" data-side-filters ng-click="limpar()"><span>Limpar</span> </button>
                <button type="button" class="btnCancelar pull-right" ng-click="searchFilterValidation()">Pesquisar</button>
            </div>
        </div>
    </div>
    @* resultado da busca *@
    <div class="well well-large teste">
        <section class="row">
            <div class="col-md-12">
                @* panel searchResult *@
                @if (SessionFacade.IsModuleAuthorized("Test/IndexForm", GestaoAvaliacao.Util.Permission.CreateOrUpdate))
                {
                    <button type="button" class="btnPadrao pull-right" style="margin-right: 15px;" ng-click="createTest()">Nova Prova</button>
                }

                <div class="exibicao pull-right" ng-show="((searchResult && !getGroup) || (searchResultGroup && getGroup))">
                    <span>Ordenação: <select ng-model="ordenacao" class="ordenacao" ng-change="alterarOrdenacao();"><option value="1">Data de criação</option><option value="2">{{getGroup ? "Nome" : "Código"}}</option><option value="3">Personalizada</option></select></span>
                </div>

                <div ng-if="searchResultGroup && getGroup" class="modelo-bloco grupo">
                    <h4 class="margin pull-left">Grupo de provas</h4>
                    <br clear="all" />

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat-start="($indexGroup, group) in searchResultGroup" ng-click="searchByGroup(group);" ng-class="{'antiga': (group.TestGroupId == 0) }"
                                    id="{{group.TestSubGroupId}}" droppable drop="handleDrop" draggable target="group" item="group">
                                    <td><strong>{{group.TestGroupName}}</strong></td>
                                    <td>{{group.TestSubGroupName}}</td>
                                    <td>nº de provas: {{group.TestCount}}</td>
                                </tr>
                                <tr ng-repeat-end="" ng-if="false"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="exibicao pull-right" ng-if="searchResult && !getGroup">
                    <span><a class="pull-right" ng-click="backGroup();"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar para grupos de provas</a></span>
                    <span><i class="material-icons">view_module</i> Exibição: <select ng-model="tipoVisualizacao" ng-change="alterarVisualizacao(tipoVisualizacao);"><option value="1">Blocos</option><option value="0">Lista</option></select></span>
                </div>

                <div ng-if="(searchResult && !getGroup && tipoVisualizacao == '1')" class="modelo-bloco">
                    <h4 class="margin pull-left">{{labels.headerBoxTable}}</h4>
                    <br clear="all" />

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat-start="($indexItem, item) in searchResult"
                                    ng-class="{'revoked': profile == visAdmin && !item.Test.Visible}"
                                    ng-if="profile == visAdmin || item.Test.Visible"
                                    id="{{item.Test.TestId}}" droppable drop="handleDrop" draggable target="item" item="item">
                                    <td class="text-center tipo">
                                        {{item.Test.TestDescription}}
                                        <span ng-if="item.Test.Global">({{labelTermGlobal}})</span>
                                        <span ng-if="!item.Test.Global">({{labelTermLocal}})</span>
                                    </td>
                                    <td><strong>{{item.Test.Discipline}}</strong></td>
                                    <td><strong>Código {{item.Test.TestId}}</strong></td>
                                    <td class="tr_situacao">
                                        Situação:
                                        <span ng-if="item.Test.TestSituation == 2" data-trigger="hover" data-type="success" data-title="Cadastrada" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-cadastrar material-icons" aria-hidden="true">radio_button_unchecked</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 4" data-trigger="hover" data-type="success" data-title="Aplicada" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-aplicar material-icons" aria-hidden="true">check_circle</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 3" data-trigger="hover" data-type="success" data-title="Em andamento" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-andamento material-icons" aria-hidden="true">timelapse</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 1" data-trigger="hover" data-type="success" data-title="Pendente" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-pendente material-icons" aria-hidden="true">remove_circle_outline</span>
                                        </span>
                                    </td>
                                    <td class="tr_statusAdesao">
                                        <strong>
                                            Adesão:
                                        </strong>
                                        <span ng-if="item.Test.HasAdhered" data-trigger="hover" data-type="success" data-title="Cadastrada" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-aplicar material-icons" aria-hidden="true">check_circle</span>
                                        </span>
                                        <span ng-if="!item.Test.HasAdhered" data-trigger="hover" data-type="success" data-title="Pendente" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-pendente material-icons" aria-hidden="true">remove_circle_outline</span>
                                        </span>
                                    </td>
                                    <td>Criação: {{item.Test.CreateDate}}</td>
                                    <td class="sub-item">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation"><a ng-click="verMaisTest(item.Test.TestId)" role="tab" data-toggle="tab"><i class="material-icons">expand_more</i></a></li>
                                            <li role="presentation"><a ng-click="acaoTest(item)" role="tab" data-toggle="tab"><i class="material-icons">view_list</i></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane" id="mais_{{item.Test.TestId}}">
                                                <div class="container-fluid">
                                                    <div class="row text-center">
                                                        <div class="col-md-12">
                                                            <label>Nv. desempenho: </label>
                                                            <span ng-if="item.Test.Desempenho==true">sim</span>
                                                            <span ng-if="item.Test.Desempenho==false">não</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Período de aplicação: </label>
                                                            <span>{{item.Test.ApplicationStartDate}} até {{item.Test.ApplicationEndDate}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label>Frequência de aplicação: </label>
                                                            <span>{{item.Test.FrequencyApplicationDescription}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Período de correção: </label>
                                                            <span>{{item.Test.CorrectionStartDate}} até {{item.Test.CorrectionEndDate}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-if="item.Test.Bib">
                                                            <label>BIB: </label>
                                                            <span ng-if="item.Test.Bib==true">sim</span>
                                                            <span ng-if="item.Test.Bib==false">não</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="acao_{{item.Test.TestId}}">
                                                <ul class="listaPopover">
                                                    <li ng-click="popovermenu.baixar(); $hide();">
                                                        <i class="material-icons">file_download</i>
                                                        <a href="javascript:void(0)">Anexos da prova</a>
                                                    </li>
                                                    <li ng-click="popovermenu.adherence(); $hide();">
                                                        <i class="material-icons">playlist_add</i>
                                                        <a href="javascript:void(0)">Aderir</a>
                                                    </li>
                                                    <li ng-click="popovermenu.application(); $hide();" ng-if="!popovermenu.selectedTest.ItemTypeUndefined">
                                                        <i class="material-icons">assignment</i>
                                                        <a href="javascript:void(0)">Folhas de respostas</a>
                                                    </li>
                                                    <li ng-click="popovermenu.studentResponses(); $hide();" ng-if="!popovermenu.selectedTest.ItemTypeUndefined">
                                                        <i class="material-icons">group</i>
                                                        <a href="javascript:void(0)">Respostas dos alunos</a>
                                                    </li>
                                                    <li ng-click="popovermenu.vincular(); $hide();" ng-if="popovermenu.selectedTest.TestOwner">
                                                        <i class="material-icons">swap_horiz</i>
                                                        <a href="javascript:void(0)">Vincular</a>
                                                    </li>
                                                    <li ng-click="popovermenu.editar(); $hide();" ng-if="popovermenu.selectedTest.TestOwner">
                                                        <i class="material-icons">create</i>
                                                        <a href="javascript:void(0)">Editar</a>
                                                    </li>
                                                    <li ng-click="popovermenu.excluir(); $hide();" ng-if="popovermenu.selectedTest.TestOwner">
                                                        <i class="material-icons">delete</i>
                                                        <a href="javascript:void(0)">Excluir</a>
                                                    </li>
                                                    <li ng-click="popovermenu.anular(); $hide();">
                                                        <i class="material-icons">block</i>
                                                        <a href="javascript:void(0)">Anular itens da prova</a>
                                                    </li>
                                                    <li ng-click="popovermenu.permissao(); $hide();" ng-if="popovermenu.profile == popovermenu.visAdmin">
                                                        <i class="material-icons">visibility_off</i>
                                                        <a href="javascript:void(0)">Permiss&ocirc;es</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat-end=""
                                    ng-if="item.Test.expanded && (profile == visAdmin || item.Test.Visible)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="searchResult && !getGroup && tipoVisualizacao == '0'" class="modelo-lista">
                    <h4 class="margin pull-left">{{labels.headerBoxTable}}</h4>
                    <br clear="all" />
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Código</th>
                                    <th>Tipo de prova</th>
                                    <th>Prova</th>
                                    <th>Criação</th>
                                    <th>Componente</th>
                                    <th class="tr_situacao">Situação</th>
                                    <th>Ação</th>
                                    <th ng-show="countFilter == 0 && codItem == '' && profile == visAdmin">Ordenação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="($indexItem, item) in searchResult"
                                    ng-class="{'revoked': profile == visAdmin && !item.Test.Visible}"
                                    ng-if="profile == visAdmin || item.Test.Visible">
                                    <td class="text-center" ng-click="collapse($index)">
                                        <a class="material-icons" ng-if="!item.Test.expanded" ng-click="item.Test.expanded = true">expand_more</a>
                                        <a class="material-icons" ng-if="item.Test.expanded" ng-click="item.Test.expanded = false">expand_less</a>
                                    </td>
                                    <td>{{item.Test.TestId}}</td>
                                    <td class="text-center">
                                        {{item.Test.TestTypeDescription}}
                                        <div style="color: black; font-size:12px" ng-if="item.Test.Global"><strong>({{labelTermGlobal}})</strong></div>
                                        <div style="color: black; font-size: 12px" ng-if="!item.Test.Global">({{labelTermLocal}})</div>
                                    </td>
                                    <td>{{item.Test.TestDescription}}</td>
                                    <td>{{item.Test.CreateDate}}</td>
                                    <td>{{item.Test.Discipline}}</td>
                                    <td class="tr_situacao">
                                        <span ng-if="item.Test.TestSituation == 2" data-trigger="hover" data-type="success" data-title="Cadastrada" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-cadastrar material-icons" aria-hidden="true">radio_button_unchecked</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 4" data-trigger="hover" data-type="success" data-title="Aplicada" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-aplicar material-icons" aria-hidden="true">check_circle</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 3" data-trigger="hover" data-type="success" data-title="Em andamento" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-andamento material-icons" aria-hidden="true">timelapse</span>
                                        </span>
                                        <span ng-if="item.Test.TestSituation == 1" data-trigger="hover" data-type="success" data-title="Pendente" data-placement="top" data-animation="am-fade" data-container="body" bs-tooltip>
                                            <span class="icone-pendente material-icons" aria-hidden="true">remove_circle_outline</span>
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btnMais"
                                                data-ng-click="changeTest(item)"
                                                data-placement="left"
                                                data-trigger="focus"
                                                data-custom-class="itemListPopover"
                                                data-template="Assets/js/angular/controllers/test/testListMenu.html"
                                                data-animation="popover-fade"
                                                data-container="body"
                                                data-bs-popover="popovermenu">
                                            <i class="material-icons">view_list</i>
                                        </button>
                                    </td>
                                    <td ng-show="countFilter == 0 && codItem == '' && profile == visAdmin">
                                        <a class="btnSeta" ng-show="(paginate.currentPage() != (pages - 1)) || (($index + 1) != (totalItens - ((pages - 1) * paginate.getPageSize())))" ng-click="moverProvaBaixo(item)"><i class="material-icons btnSeta">arrow_drop_down</i></a>
                                        <a class="btnSeta" ng-show="($index != 0 && paginate.currentPage() == 0) || paginate.currentPage() != 0" ng-click="moverProvaCima(item)"><i class="material-icons btnSeta">arrow_drop_up</i></a>
                                    </td>
                                </tr>
                                <tr ng-repeat-end=""
                                    ng-if="item.Test.expanded && (profile == visAdmin || item.Test.Visible)">
                                    <td class="boxConteudo"></td>
                                    <td colspan="7" class="boxConteudo">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <i class="material-icons">chevron_right</i><label>Nv. desempenho: </label>
                                                    <span ng-if="item.Test.Desempenho==true">sim</span>
                                                    <span ng-if="item.Test.Desempenho==false">não</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="material-icons">chevron_right</i><label>Período de aplicação: </label>
                                                    <span>{{item.Test.ApplicationStartDate}} até {{item.Test.ApplicationEndDate}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <i class="material-icons">chevron_right</i><label>Frequência de aplicação: </label>
                                                    <span>{{item.Test.FrequencyApplicationDescription}}</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="material-icons">chevron_right</i><label>Período de correção: </label>
                                                    <span>{{item.Test.CorrectionStartDate}} até {{item.Test.CorrectionEndDate}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3" ng-if="item.Test.Bib">
                                                    <i class="material-icons">chevron_right</i><label>BIB: </label>
                                                    <span ng-if="item.Test.Bib==true">sim</span>
                                                    <span ng-if="item.Test.Bib==false">não</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />
                @* paginação *@
                <page class="nresultados" ng-if="searchResult && !getGroup" method="getSearchResult()" total-pages="{{pages}}" total-itens="{{totalItens}}" page-size="pageSize" data-arr-page-size="[10,20,30,40,50,100]"></page>
                <p class="nresultados" ng-show="!((searchResult && !getGroup) || (searchResultGroup && getGroup))">Nenhum resultado encontrado.</p>
            </div>
        </section>
    </div>
    @* Modal: Confirmação Excluir *@
    <div id="modalExcluir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>{{selectedTest.Test.TestDescription}}</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <span ng-if="selectedTest.Test.TestSituation!=1">Existem cadernos de provas gerados. Deseja realmente excluir a prova selecionada?</span>
                    <span ng-if="selectedTest.Test.TestSituation==1">Deseja realmente excluir a prova selecionada?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnPadrao" ng-click="deleteSelectedTest()">Excluir</button>
                    <button type="button" class="btnCancelar2" ng-click="closedModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    @* Modal: Download de arquivos *@
    <modal id="modalAlert" modal-title="<strong>Anexos da prova</strong>">
        <div>
            <h3>{{selectedTest.Test.TestDescription}} - {{selectedTest.Test.Discipline}}</h3>
            <table class="listagem-modal">
                <colgroup>
                    <col width="85%" />
                    <col width="15%" />
                </colgroup>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td style="width: 100%;">
                            <div ng-show="file.AllowLink">
                                <a href="{{file.Path}}" target="_blank">{{file.Name}}</a>
                            </div>
                            <div ng-show="!file.AllowLink">
                                {{file.Name}}
                            </div>
                        </td>
                        <td><a href=""><i class="material-icons" ng-click="downloadFile(file.Id)">file_download</i></a></td>
                    </tr>
                    <tr ng-if="files.length==0"><td>Não há  arquivos a serem baixados</td></tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btnModal" data-dismiss="modal">Cancelar</button>
                    <button ng-disabled="!files.length" type="button" class="btnModal" ng-click="downloadAllFilesZip();">Baixar Todos</button>
                </div>
            </div>
        </div>
    </modal>
    @* Modal: Confirmação ocultar prova *@
    <div id="modalHide" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalHide" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>{{selectedTest.Test.TestDescription}} - {{selectedTest.Test.Discipline}}</h5>
                </div>
                <div class="modal-body">
                    <span>Deseja realmente ocultar a prova selecionada?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnPadrao" ng-click="hideTest()">Ocultar</button>
                    <button type="button" class="btnCancelar2" ng-click="cancelHideShow('modalHide')">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    @* Modal: Confirmação reexibir prova *@
    <div id="modalShow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalShow" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>{{selectedTest.Test.TestDescription}} - {{selectedTest.Test.Discipline}}</h5>
                </div>
                <div class="modal-body">
                    <span>Deseja realmente reexibir a prova selecionada?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnPadrao" ng-click="showTest()">Reexibir</button>
                    <button type="button" class="btnCancelar2" ng-click="cancelHideShow('modalShow')">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>