<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MongoDB_Connection" value="p6IsYP5FsvCSyTu71IXXZ1WE/agK+ItDHaOynjdkgXXF7KBm6WTTigMidM9mTDSxKUtT43VyqOPVYPd3KHPwHprwVULAJvBMhjr9NUs3J/S2FK1Ny57xDcghRmEvpe2VRr1+DVMRZBBvDQxRRINg9uTxAx94dbtS1X7+A5rOo+thZx03xC9cKR2BjIrQYiUM+adjCk06/FFL/FjeEy+g9ARcFDgVk02XxsnsWXTHUDj1vPzcibNlGebnaTE2hmje/SpxFsKfroo=" />
		<add key="MongoDB_Database" value="GestaoAvaliacao_OMR" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>