@{
	ViewBag.Title = "PerformanceSchool";
}
<alert></alert>
<div class="wellCustom" ng-controller="PerformanceSkillController">
	<div class="headerCustom">
		<h4>Relatório<span>Desempenho de prova por habilidade</span></h4>
	</div>
	@* Informações *@
	<div class="resumoAdesao">
		<div class="maxWidth">
			<div class="dadosGerais">
				<h2>
					<strong>Relatório</strong>
				</h2>
				<div class="dadosResumo">
					<div>
						<span>{{AverageStudents}}</span>
						<i class="material-icons">group</i>
						<p>Alunos avaliados</p>
					</div>
					<div>
						<span>{{AverageSkills}}</span>
						<i class="material-icons">assessment</i>
						<p>Habilidades avaliadas</p>
					</div>
					<div style="text-align: right;">
						<button class="btnPadrao" ng-click="exportFile();">Exportar</button>
                        <a href="" class="btnCancelar2" data-toggle="modal" data-target="#modalGraphic">Gráfico</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    @* Gatilho Filtros *@
    <div class="pesquisa-upload row">
        <div class="col-md-8"></div>
        <div class="filtrar-lista col-md-4" data-side-filters>
            <a href="javascript:void(0)" data-ng-click="open();" data-side-filters>
                <i class="material-icons" data-side-filters>filter_list</i>
                <label data-side-filters>Filtrar</label>
                <div class="notificationFilter"
                     data-trigger="hover"
                     data-type="success"
                     data-title="Filtros selecionados"
                     data-placement="top"
                     data-container="body"
                     data-bs-tooltip>
                    {{countFilter}}
                </div>
            </a>
        </div>
    </div>
    @* Painel Filtros *@
    <div class="panel-search side-filters" data-side-filters>
        <a href="javascript:void(0)" data-ng-click="open();" class="filtro-menu">
            <i class="material-icons">filter_list</i>
            <label class="filtroP">Filtrar provas</label>
            <i class="material-icons fecha">arrow_forward</i>
        </a>
        @* Directiva Filtros *@
        <report-filters filters="filters" global="global"></report-filters>
        <div class="col-seach" data-side-filters>
            <div style="display: inline-block; width: 100%;">
                <button class="btnCancelar pull-right" data-ng-click="clearFields()" data-side-filters><span>Limpar</span> </button>
                <button type="button" class="btnCancelar pull-right" ng-click="search()" data-side-filters>Pesquisar</button>
            </div>
        </div>
    </div>
    @* Pesquisa *@
	<div class="well well-large">
        <table class="table table-hover" ng-show="skills.length>0" style=" margin-top: 0px;">
            <colgroup>
                <col width="35%" />
                <col width="20%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Habilidade</th>
                    <th class="center">Itens</th>
                    <th class="center">Média</th>
                    <th class="center">Média DRE</th>
                    <th class="center">Média rede</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="($indexSkill, skill) in skills track by $indexSkill">
                    <td>{{skill.Name}}</td>
                    <td class="center">
                        [<span data-ng-repeat="($indexItems, item) in skill.Items track by $indexItems">{{item}} <span data-ng-if="$indexItems < (skill.Items.length-1)">,</span></span>]
                    </td>
                    <td class="center">{{skill.Average}}%</td>
                    <td class="center">{{skill.AverageDre}}%</td>
                    <td class="center">{{skill.AverageGrid}}%</td>
                </tr>
            </tbody>
        </table>
        <page method="getListSchool('paginate')" total-pages="{{pages}}" total-itens="{{totalItens}}" page-size="pageSize" ng-show="skills.length>0" data-arr-page-size="[10,20,30,40,50,100]"></page>
        <p class="nresultados" ng-show="skills.length==0" class="nresultados">Nenhum resultado encontrado.</p>
	</div>
    <modal id="modalGraphic" class="listagem-modal" modal-title="Gráfico de habilidades">
        <div style="margin: 10px 10px 10px 10px;">
            <highchart class="chart" config="chart"></highchart>
        </div>
    </modal>
</div>

