@*Alertas*@
<alert></alert>
<div class="wellCustom" ng-controller="FormCtrl">
    <div class="headerCustom">
        <h4>Tipo do item<span>Crie um novo tipo do item</span></h4>
    </div>

    <div class="well well-large">
        <form role="form">
            <div class="boxConteudo">
                <div class="form-group">
                    <div class="container-fluid semPadding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="campoLabel">
                                    <label for="itemType.Description">Descrição*:</label>
                                    <div>
                                        <input type="text" id="description" class="form-control ng-pristine ng-valid" maxlength="100" placeholder="Digite aqui a descrição" ng-model="itemType.Description">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="campoLabel">
                                    <div class="checkbox checkbox-colunas checkbox-primary">
                                        <input id="itemPadrao" type="checkbox" ng-click="setNewDefault()" ng-model="itemType.IsDefault" />
                                        <label for="itemPadrao">
                                            Padrão
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="well well-large itens">
		<button type="button" class="btnCancelar pull-right" ng-click="Cancelar()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btnPadrao2 pull-right" ng-click="Salvar()" data-dismiss="modal">Salvar</button>
    </div>

    @*Modal*@
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">{{itemType.Description}}</h4>
				</div>

				<div class="modal-body">
					<span>Deseja realmente definir o tipo <b>{{itemType.Description}}</b> como padrão?</span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btnPadrao" data-dismiss="modal">Sim</button>
					<button type="button" class="btnCancelar2" ng-click="Cancel()" >Não</button>
				</div>

			</div>
		</div>
	</div>
</div>
