<div class="popover" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <ul class="listaPopover">
            <li ng-click="popover.openModal('recusarItem', popover.item); $hide();">
                <a href="javascript:void(0)">Recusar</a>
            </li>
            <li ng-click="popover.openModal('anularItem', popover.item); $hide();">
                <a href="javascript:void(0)">Prova</a>
            </li>
            <li data-ng-if="popover.item.ItemLastVersion" data-ng-click="popover.openModal('anularProvaItem', popover.item); $hide();">
                <a href="javascript:void(0)">Prova e item</a>
            </li>
        </ul>
    </div>
</div>