<div class="popover" tabindex="-1" style="width:240px">
    <div class="arrow"></div>
    <div class="popover-content">
        <ul class="listaPopover">
            <li ng-click="e2_itemVisualizar(versoes); $hide();">
                <i type="button" class="material-icons">visibility</i>
                <a href="javascript:void(0)">Visualizar</a>
            </li>
            <li ng-click="confirmChangeVersionItem(itens, versoes)">
                <i type="button" class="material-icons">cached</i>
                <a href="javascript:void(0)">Trocar versão do item</a>
            </li>
        </ul>
    </div>
</div>

