<div class="popover" tabindex="-1" style="width:240px">
    <div class="arrow"></div>
    <div class="popover-content">
        <ul class="listaPopover">
            <li ng-click="e2_itemVisualizar(itens); $hide();">
                <i type="button" class="material-icons">visibility</i>
                <a href="javascript:void(0)">Visualizar</a>
            </li>
            <li ng-click="e2_CheckedItem(itens,true);e2_itemDeletar(itens); $hide();">
                <i type="button" class="material-icons">delete</i>
                <a href="javascript:void(0)">Excluir</a>
            </li>
        </ul>
    </div>
</div>

