<div class="popover" tabindex="-1" ng-show="content">
	<div class="arrow"></div>
	<div class="popover-content">
		<ul class="listaPopover">
			<li ng-click="popovermenu.baixar(); $hide()">
				<!-- Download da prova -->
				<i class="material-icons">file_download</i>
				<a href="javascript:void(0)">Baixar</a>
			</li>
			<li ng-click="popovermenu.excluir(); $hide()">
				<!-- Excluir -->
				<i class="material-icons">close</i>
				<a href="javascript:void(0)">Excluir</a>
			</li>
		</ul>
	</div>
</div>
