@* Alertas *@
<alert></alert>
<div class="wellCustom" data-ng-controller="FormElectronicTestController">
    <div class="headerCustom">
        <h4>Prova online <span>Responda as questões corretamentes</span></h4>
    </div>
    <div class="accordion-prova">
        @*Accordion*@
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div role="button" data-toggle="collapse" data-parent="" href="" aria-expanded="true" aria-controls="">
                        <strong>{{ test.Description }}</strong> | {{ test.FrequencyApplication }}
                    </div>
                </div>
                <div id="" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">
                    <div class="panel-body">
                        <p>{{ test.NumberItem }} <i class="fa fa-file-text" aria-hidden="true"></i> <small>Questões totais</small></p>
                        <p ng-show="test.quantDiasRestantes > 0">{{ test.quantDiasRestantes }} <i class="fa fa-calendar-o" aria-hidden="true"></i> <small>{{ provaEmAndamento.quantDiasRestantes > 1 ? 'Dias restantes' : 'Dia restante' }}</small></p>
                        <data ng-show="test.quantDiasRestantes == 0">{{ test.ApplicationEndDate }} <i class="fa fa-calendar-o" aria-hidden="true"></i> <small>Data final da aplicação</small></data>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-large questao">
        <div class="row">
            <div class="col-sm-8">
                <h3>Questão {{ itens[indiceItem].ItemOrder + 1 }}</h3>
                <hr />
                <p ng-if="possuiTextoBase"><small>Texto base</small></p>
                <p ng-if="possuiTextoBase" ng-bind-html="itens[indiceItem].BaseTextDescription | trustedHtml"></p>
                <hr ng-if="possuiTextoBase" />
                <p><small>Enunciado</small></p>
                <p ng-bind-html="itens[indiceItem].Statement | trustedHtml"></p>
                @*Video/Audio*@
                <div class="playlistItem" ng-repeat="video in itens[indiceItem].Videos | filter:{ Item_Id:itens[indiceItem].Item_Id }:true">
                    <video height="400" width="400" preload="none" controls poster="{{ video.ThumbnailPath }}" src="{{ trustSrc(video.Path) }}">
                        Seu navegador não suporta vídeos.
                    </video>
                </div>

                <ul style="list-style-type: none;">
                    <li ng-repeat="audio in itens[indiceItem].Audios | filter:{ Item_Id:itens[indiceItem].Item_Id }:true">
                        <audio controls>
                            <source src="{{ trustSrc(audio.Path) }}" />
                            Seu navegador não suporta áudios.
                        </audio>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 style="margin-bottom: 18px;">Alternativas</h3>
                <div class="alternativas" ng-repeat="alternativa in alternatives | filter:{ Item_Id:itens[indiceItem].Item_Id }:true">
                    <input ng-disabled="admin || provaFinalizada || (test.quantDiasRestantes <= 0)" type="radio" name="alternative" ng-checked="alternativa.Selected" ng-change="handleRadioClick(alternativa)" ng-model="selectedValue.alternative" value="{{alternative.price}}">{{ alternativa.Numeration }}
                    <p ng-bind-html="alternativa.Description | trustedHtml"></p>
                </div>
            </div>
        </div>
        <div class="maxWidth opcoesProva">
            <a ng-click="proximaQuestao(itens[indiceItem])" ng-hide="indiceItem + 1 == itens.length" class="pull-right">Próxima <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <a ng-click="voltaQuestao(itens[indiceItem])" ng-hide="indiceItem == 0" class="pull-right" style="margin-right: 10px"><i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior</a>
            <label class="pull-right" style="font-size: 16px;" ng-show="(!admin) && (!provaFinalizada) && (test.quantDiasRestantes > 0)"> <input type="checkbox" ng-model="pularRespondidas">Pular questões respondidas</label>
            <a class="pull-right" ng-click="abrirGabarito();" ng-show="(!admin)" style="margin-right: 20px"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ver respostas</a>
        </div>
        <div>
            <button class="btnPadrao2 pull-right" ng-click="sair();">Sair</button>
            <button class="btnPadrao2 pull-right" ng-click="openModalEntregaProva();" ng-show="(indiceItem + 1) === itens.length && ((!admin) && (!provaFinalizada) && (test.quantDiasRestantes > 0))">Entregar prova</button>
        </div>
    </div>
    <div class="gabarito-novo">
        <a><i class="fa fa-check-square-o" aria-hidden="true"></i>Respostas</a>
        <a class="pull-right" ng-click="abrirGabarito();"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <hr />
        <div class="gabarito-respostas" ng-repeat="item in itens">
            <div id="divAlternativa">
                <span>{{ item.ItemOrder + 1 }}</span>
                <span class="{{alternativa.Selected ? 'respondido' : ''}}" ng-repeat="alternativa in alternatives | filter:{ Item_Id:itens[indiceItem].Item_Id }:true">{{ alternativa.NumerationSem }}</span>
            </div>
        </div>
    </div>
    <modal id="modalConfirmacaoEntregaProva" modal-title="<p>Confirmação de entrega de prova</p>">
        <div class="container-fluid">
            <div class="campoLabel">
                <span>{{mensagemEntregaProva}}</span>
            </div>
            <div class="campoLabel">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btnPadrao" ng-click="entregarProva();">Sim</button>
                    <button type="button" class="btnCancelar2" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </modal>
</div>
