@* Alertas *@
<alert></alert>
<div class="wellCustom" data-ng-controller="FormElectronicTestController">
    <div class="well well-large questao">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 50px;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="position: absolute; top: 0px; color: #5a94d6;">
                    <div class="panel panel-default" style="margin-top: 10px;">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div role="button" data-toggle="collapse" data-parent="" href="" aria-expanded="true" aria-controls="" ng-click="loadHeaderDetais();" style="cursor: pointer; color: #5a94d6;">
                                <b>{{ test.Description }}</b> | {{ test.FrequencyApplication }}
                            </div>
                        </div>
                        <div class="panel-collapse" ng-class="{'am-fade-and-slide-top am-fade-and-slide-top-remove am-fade-and-slide-top ng-hide': showHeaderDetails == false, 'am-fade-and-slide-top': showHeaderDetails == true}">
                            <div class="panel-body">
                                <div class="col-md-6"><i class="fa fa-file-text" aria-hidden="true"></i> {{ test.NumberItem }} {{ test.NumberItem > 1 ? 'questões no total' : 'questão no total' }}</div>
                                <div class="col-md-6">
                                    <data ng-show="test.quantDiasRestantes > 0"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ test.quantDiasRestantes }} {{ test.quantDiasRestantes > 1 ? 'dias restantes' : 'dia restante' }}</data>
                                    <data ng-show="test.quantDiasRestantes == 0">{{ test.ApplicationEndDate }} <i class="fa fa-calendar-o" aria-hidden="true"></i> Data final da aplicação</data>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="ShowCronometro" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="position: absolute; right: 0px; top: 0px; color: #5a94d6;">
                    <div class="panel panel-default" style="margin-top: 10px;">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div id="countdown-timer">
                                <div style="font-weight: 600; color: #5a94d6;">Tempo Total: <div id="TempoTotalDeProva" style="font-size: 16px; color: black; display: inline-block;">{{TempoDeProvaTotalFormatado}}</div></div>
                                <div style="font-weight: 600; color: #5a94d6;">
                                    {{LabelTempoDeProvaDoAluno}}
                                    <div id="TempoRestanteDeProva" class="tempo-total-de-prova" style="display: inline-block; color: black;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="electronicTestHeader">
                    <b>Questão {{ test.Itens[indiceItem].ItemOrder + 1 }}</b>
                    <input type="image" src="~/Assets/images/font-size-icon-plus.jpg" ng-click="zoomEnunciado(true)" style="margin-left: 15px;" />
                    <input type="image" src="~/Assets/images/font-size-icon-minus.jpg" ng-click="zoomEnunciado(false)" />

                </div>
                <hr />
            </div>
            <div id="divEnunciado" ng-class="(test.Itens[indiceItem].ShowVideoFiles || test.Itens[indiceItem].ShowAudioFiles) ? 'col-sm-6' : 'col-sm-12'">
                <div class="baseTextElementClass" ng-if="possuiTextoBase" ng-bind-html="test.Itens[indiceItem].BaseTextDescription | trustedHtml"></div>
                <div class="statementElementClass" ng-bind-html="test.Itens[indiceItem].Statement | trustedHtml"></div>

                <br />
                <div class="electronicTestHeader" style="margin-bottom: 18px;">
                    <b>Alternativas</b>
                    <input type="image" src="~/Assets/images/font-size-icon-plus.jpg" ng-click="zoomAlternativas(true)" style="margin-left: 15px;" />
                    <input type="image" src="~/Assets/images/font-size-icon-minus.jpg" ng-click="zoomAlternativas(false)" />
                </div>
                <div class="alternativas" ng-repeat="alternativa in test.Itens[indiceItem].Alternatives">
                    <input ng-disabled="admin || provaFinalizada || (test.quantDiasRestantes <= 0)"
                           type="radio" name="alternative"
                           ng-checked="alternativa.Selected"
                           ng-click="handleRadioClick(alternativa)">
                    {{ alternativa.Numeration }}
                    <label class="alternativeElementClass" ng-bind-html="alternativa.Description | trustedHtml"></label>
                </div>
            </div>
            <div id="divVideosEAudios" ng-if="test.Itens[indiceItem].ShowVideoFiles || test.Itens[indiceItem].ShowAudioFiles" class="col-sm-6">
                <div class="playlistItem" ng-if="test.Itens[indiceItem].ShowVideoFiles" ng-repeat="video in test.Itens[indiceItem].Videos | filter:{ Item_Id:test.Itens[indiceItem].Item_Id }:true">
                    <video height="400" width="400" preload="none" controls poster="{{ video.ThumbnailPath }}">
                        Seu navegador não suporta vídeos.
                        <source src="{{ trustSrc(video.Path) }}" type="{{ video.FileType }}">
                        <source ng-if="video.ConvertedFilePath" src="{{ trustSrc(video.ConvertedFilePath) }}" type="{{ video.ConvertedFileType }}">
                    </video>
                </div>

                <ul style="list-style-type: none;" ng-if="test.Itens[indiceItem].ShowAudioFiles">
                    <li ng-repeat="audio in test.Itens[indiceItem].Audios | filter:{ Item_Id:test.Itens[indiceItem].Item_Id }:true">
                        <audio controls>
                            <source src="{{ trustSrc(audio.Path) }}" />
                            Seu navegador não suporta áudios.
                        </audio>
                    </li>
                </ul>
            </div>
        </div>
        <div class="maxWidth opcoesProva">
            <a ng-click="proximaQuestao(test.Itens[indiceItem])" ng-hide="indiceItem + 1 == test.Itens.length" class="pull-right">Próxima <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <a ng-click="voltaQuestao(test.Itens[indiceItem])" ng-hide="indiceItem == 0" class="pull-right" style="margin-right: 10px"><i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior</a>
            <label class="pull-right" style="font-size: 16px;" ng-show="(!admin) && (!provaFinalizada) && (test.QuantDiasRestantes > 0)"> <input type="checkbox" ng-model="pularRespondidas">Pular questões respondidas</label>
            <a class="pull-right" ng-click="abrirGabarito();" ng-show="(!admin)" style="margin-right: 20px"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ver respostas</a>
        </div>
        <div>
            <span class="infoSaveAnswersNotification" style="margin-top:20px;">As respostas serão enviadas para o servidor a cada 1 (um) minuto.</span>
            <span ng-if="savingAnswers" class="saveAnswersNotification" id="popupSaveAnswers">
                <span class="saveAnswersNotificationLoader"></span>Enviando respostas...
            </span>
            <button class="btnPadrao2 pull-right" ng-click="sair();">Sair</button>
            <button class="btnPadrao2 pull-right" ng-click="openModalEntregaProva();" ng-show="(indiceItem + 1) === test.Itens.length && ((!admin) && (!provaFinalizada) && (test.QuantDiasRestantes > 0))">Entregar prova</button>
        </div>
    </div>
    <div class="gabarito-novo">
        <a><i class="fa fa-check-square-o" aria-hidden="true"></i>Respostas</a>
        <a class="pull-right" ng-click="abrirGabarito();"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <hr />
        <div class="gabarito-respostas" ng-repeat="item in test.Itens">
            <div id="divAlternativa">
                <span>{{ item.ItemOrder + 1 }}</span>
                <span class="{{alternative.Selected ? 'respondido' : ''}}" ng-repeat="alternative in item.Alternatives | filter:{ Item_Id:item.Item_Id }:true">{{ alternative.NumerationSem }}</span>
            </div>
        </div>
    </div>
    <modal id="modalProvaFinalizada" modal-title="<p>Seu tempo acabou...</p>" btnclose="true">
        <div class="container-fluid">
            <div class="campoLabel">
                <span>A sua prova está sendo finalizada e você será redirecionado para a página de visualização de provas.</span>
            </div>
        </div>
    </modal>
    <modal id="modalConfirmacaoEntregaProva" modal-title="<p>Confirmação de entrega de prova</p>">
        <div class="container-fluid">
            <div class="campoLabel">
                <span>{{mensagemEntregaProva}}</span>
            </div>
            <div class="campoLabel">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btnPadrao" ng-click="entregarProva();">Sim</button>
                    <button type="button" class="btnCancelar2" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </modal>
</div>
