<div class="wellCustom" data-ng-controller="HomeAlunoElectronicTestController">
    <div class="headerCustom">
        <h4>Área do estudante<span>Seleciona a opção desejada:</span></h4>
    </div>
    <section class="novaHome">
        <div class="maxWidth">
            <div class="row">
                <div class="col-sm-6">
                    <a class="diagnostico" href="/ElectronicTest/Index">Responder Prova Online</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="diagnostico" href="/StudentResults/Index" >Resultados Prova Online</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="diagnostico" href="/ProvaSP">Resultados Prova São Paulo</a>
                </div>
            </div>
        </div>
    </section>
</div>
