@* Alertas *@
<alert></alert>
<div class="wellCustom" data-ng-controller="IndexElectronicTestController">
    <div class="headerCustom">
        <h4>Gerenciador de Provas Online<span>Responda as provas e visualize-as</span></h4>
    </div>

    <div class="accordion-prova">
        @*Não iniciadas*@
        <button class="accordion-test nao-iniciadas">Provas não iniciadas <span>({{getListLength(eletronicTestListNaoIniciadas)}} provas)</span></button>
        <div class="accordion-test-panel-group">
            <div class="accordion-test-panel" ng-repeat="provaNaoIniciada in eletronicTestListNaoIniciadas">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div>
                        <strong>{{ provaNaoIniciada.Description }}</strong> | {{ provaNaoIniciada.FrequencyApplicationText }} <a class="btnPadrao pull-right menor-btn" ng-click="abrirProvaNaoIniciada(provaNaoIniciada)">Iniciar</a>
                    </div>
                </div>
                <div class="panel-body">
                    <p><i class="fa fa-file-text" aria-hidden="true"></i><small>{{ provaNaoIniciada.NumberItem }} questões no total</small></p>
                    <data><i class="fa fa-calendar-o" aria-hidden="true"></i><small> {{ provaNaoIniciada.quantDiasRestantes }} {{ provaNaoIniciada.quantDiasRestantes > 1 ? 'dias restantes' : 'dia restante' }}</small></data>
                    <br />
                    <p style="margin-left: 5px;"><small>Tempo de duração: {{ provaNaoIniciada.TempoDeDuracaoDaProva }} </small></p>
                    <p style="margin-left: 5px;"><small>Tempo restante: {{ provaNaoIniciada.TempoRestanteDeProva }} </small></p>
                </div>
            </div>
        </div>

        @*Em andamento*@
        <button class="accordion-test em-andamento">Provas em andamento <span>({{getListLength(eletronicTestListEmAndamento)}} provas)</span></button>
        <div class="accordion-test-panel-group">
            <div class="accordion-test-panel" ng-repeat="provaEmAndamento in eletronicTestListEmAndamento">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div>
                        <strong>{{ provaEmAndamento.Description }}</strong> | {{ provaEmAndamento.FrequencyApplicationText }} <a class="btnPadrao pull-right menor-btn" ng-click="abrirProvaEmProgresso(provaEmAndamento)">{{admin ? 'Visualizar' : 'Continuar'}}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <p><i class="fa fa-file-text" aria-hidden="true"></i><small>{{ provaEmAndamento.NumberItem }} questões no total</small></p>
                    <data><i class="fa fa-calendar-o" aria-hidden="true"></i><small> {{ provaEmAndamento.quantDiasRestantes }} {{ provaEmAndamento.quantDiasRestantes > 1 ? 'dias restantes' : 'dia restante' }}</small></data>
                    <br />
                    <p style="margin-left: 5px;"><small>Tempo de duração: {{ provaEmAndamento.TempoDeDuracaoDaProva }} </small></p>
                    <p style="margin-left: 5px;"><small>Tempo restante: {{ provaEmAndamento.TempoRestanteDeProva }} </small></p>
                </div>
            </div>
        </div>

        @*Finalizadas*@
        <button class="accordion-test finalizadas">Provas finalizadas <span>({{getListLength(eletronicTestFinalizadas)}} provas)</span></button>
        <div class="accordion-test-panel-group">
            <div class="accordion-test-panel" ng-repeat="provaFinalizada in eletronicTestFinalizadas">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div>
                        <strong>{{ provaFinalizada.Description }}</strong> | {{ provaFinalizada.FrequencyApplicationText }} <a class="btnPadrao pull-right menor-btn" ng-click="abrirProvaFinalizada(provaFinalizada)">Visualizar</a>
                    </div>
                </div>
                <div class="panel-body">
                    <p><i class="fa fa-file-text" aria-hidden="true"></i><small>{{ provaFinalizada.NumberItem }} questões no total</small></p>
                    <data><i class="fa fa-calendar-o" aria-hidden="true"></i><small> {{ provaFinalizada.ApplicationEndDate | moment:"DD/MM/YYYY" }} data final da aplicação</small></data>
                    <br/>
                    <p style="margin-left: 5px;"><small>Tempo de duração: {{ provaFinalizada.TempoDeDuracaoDaProva }} </small></p>
                    <p style="margin-left: 5px;"><small>Tempo restante: {{ provaFinalizada.TempoRestanteDeProva }} </small></p>
                </div>
            </div>
        </div>
    </div>
</div>