@*Alertas*@
<alert></alert>
<div class="wellCustom" data-ng-controller="FormKnowledgeAreaController">
    <div class="headerCustom">
        <h4>Área de conhecimento <span>Adicionar uma nova área de conhecimento</span></h4>
    </div>
    <div class="well well-large">
        <form role="form">
            <div class="form-group">
                @* Tipo Nivel de Ensino *@
                <div class="campoLabel">
                    <label for="tipoNivelEnsino">Área de conhecimento*: </label>
                    <div id="container">
                        <input type="text" id="description" class="form-control ng-pristine ng-valid" maxlength="50" placeholder="Digite aqui a descrição" ng-model="Description">
                    </div>
                </div>
                <div class="campoLabel" ng-show="disciplines.length > 0">
                    <div id="container">
                        <p>Componente(s) curricular(es)*: </p>
                    </div>
                    <div id="container" style="width: 60%">
                        <div class="checkbox checkbox-colunas checkbox-primary">
                            <div ng-repeat="s in disciplines">
                                <input id="{{s.Description}}_{{$index}}" type="checkbox" checklist-model="typeDiscipline.disciplines" checklist-value="s">
                                <label for="{{s.Description}}_{{$index}}">
                                    {{s.Description}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="well well-large itens">
        <a class="btnCancelar pull-right" href="~/KnowledgeArea/List"> Cancelar </a>
        <button class="btnPadrao2 pull-right" ng-click="salvar(typeDiscipline.disciplines)" ng-disabled="Description == undefined"> Salvar </button>
    </div>
</div>