@using GestaoAvaliacao.WebProject.Facade

@* Diretiva para alertas padrões do sistema *@
<alert></alert>
<div class="wellCustom" ng-controller="ReportPerformanceController" ng-init='init()'>
    <div ng-if="!blockPage">
        @* Header da Adesão *@
        <div class="headerCustom">
            <h4>Relatório comparativo de desempenho da rede<span></span></h4>
        </div>
        @* Informações *@
        <div class="resumoAdesao">
            <div class="maxWidth">
                <div class="dadosGerais">
                    <h2>
                        <strong data-ng-if="header.uad_nome || header.esc_nome || header.tur_descricao" class="pull-right">
                            <label>{{header.uad_nome}}</label>
                            <label>{{header.esc_nome}}</label>
                            <label>{{header.tur_descricao}}</label>
                        </strong>
                        <strong data-ng-if="!header">Selecione uma prova ou grupo de provas</strong><br />
                        <strong data-ng-if="header.Description">{{header.Description}}</strong><br />
                        <label data-ng-if="group && header.Description"><strong>Subgrupo: </strong>{{header.SubDescription}}</label>
                        <label data-ng-if="!group && header.Test_Id"><strong>Cód:</strong> {{header.Test_Id}}</label>
                        <label data-ng-if="!group && header.CodeP"> | <strong>Cód: p.:</strong> {{header.CodeP}}</label><br />
                        <label data-ng-if="!group && header.ApplicationStartDate"><strong>Aplicação da prova:</strong> {{header.ApplicationStartDate | moment:"DD/MM/YYYY"}}</label>
                        <label data-ng-if="!group && header.ApplicationEndDate"> - {{header.ApplicationEndDate | moment:"DD/MM/YYYY"}}</label><br />
                        <label data-ng-if="!group && headerCurriculumGrade.curriculoPeriodo.crp_descricao">
                            <strong>Ano(s) de aplicação:</strong> {{headerCurriculumGrade.curriculoPeriodo.crp_descricao}}
                        </label>
                    </h2>
                    <div class="dadosResumo" data-ng-if="listResult">
                        <div style="text-align: right;" data-ng-if="listResult">
                            <button class="btnPadrao" data-toggle="modal" ng-click="generateReport()">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Gatilho filtros laterais *@
        <div class="pesquisa-codigo row">
            <div class="col-md-12">
                <div class="filtrar-lista col-md-12">
                    <a href="javascript:void(0)" data-ng-click="open();" data-side-filters>
                        <i class="material-icons" data-side-filters>filter_list</i>
                        <label data-side-filters>Filtrar</label>
                        <div class="notificationFilter"
                             data-trigger="hover"
                             data-type="success"
                             data-title="Filtros selecionados"
                             data-placement="top"
                             data-container="body"
                             data-bs-tooltip>
                            {{countFilter}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        @* Filtros *@
        <div class="panel-search side-filters" data-side-filters>
            <a href="javascript:void(0)" data-ng-click="open();" class="filtro-menu">
                <i class="material-icons">filter_list</i>
                <label class="filtroP">Filtrar consulta</label>
                <i class="material-icons fecha">arrow_forward</i>
            </a>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>DREs*</label>
                    <select class="form-control"
                            ng-change="getSchools();clearByFilter('DRE');"
                            ng-model="filters.DRE"
                            ng-options="dre as dre.Description for dre in listFilter.DREs track by dre.Id"
                            ng-title="listFilter.DREs"
                            ng-title-propertie="Description"
                            ng-title-index="1"
                            ng-title-selected
                            data-side-filters>
                        <option value="">Todas as DREs</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <label data-side-filters>Escolas*</label>
                    <select class="form-control"
                            ng-change="clearByFilter('School');"
                            ng-model="filters.School"
                            ng-options="scholl as scholl.Description for scholl in listFilter.Schools track by scholl.Id"
                            ng-title="listFilter.Schools"
                            ng-title-propertie="Description"
                            ng-title-index="1"
                            ng-title-selected
                            data-side-filters>
                        <option value="">Todas as escolas</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <div class="radio radio-primary" data-side-filters style="display: inline; margin-left: 25px;">
                        <input name="group" id="group" type="radio" ng-value="false" ng-model="group" ng-change="clearByFilter('Type'); getTests(); clearGroupFilters();">
                        <label for="group">{{labelTermTest}}</label>
                    </div>
                    <div class="radio radio-primary" data-side-filters style="display: inline; margin-left: 25px;">
                        <input name="subgroup" id="subgroup" type="radio" ng-value="true" ng-model="group" ng-change="clearByFilter('Type'); getGroups();">
                        <label for="subgroup">{{labelTermGroupTest}}</label>
                    </div>
                </div>
            </div>
            <div class="col-seach" data-side-filters ng-if="group">
                <div data-side-filters>
                    <label data-side-filters>Grupos*</label>
                    <select class="form-control"
                            ng-change="getSubGroup(); clearByFilter('Group');"
                            ng-model="filters.Group"
                            ng-options="group as group.Description for group in listFilter.Groups track by group.Id"
                            ng-title="listFilter.Groups"
                            ng-title-propertie="Description"
                            ng-title-index="1"
                            ng-title-selected
                            data-side-filters>
                        <option value="">Selecione um grupo</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters ng-show="filters.Group">
                <div data-side-filters>
                    <label data-side-filters>Subgrupos*</label>
                    <select class="form-control"
                            ng-change=""
                            ng-model="filters.SubGroup"
                            ng-options="subgroup as subgroup.Description for subgroup in listFilter.SubGroups track by subgroup.Id"
                            ng-title="listFilter.SubGroups"
                            ng-title-propertie="Description"
                            ng-title-index="1"
                            ng-title-selected
                            data-side-filters>
                        <option value="">Selecione um subgrupo</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters ng-if="!group">
                <label data-side-filters>Período de aplicação*</label>
                <br />
                <div class="calendario-grafico" data-side-filters>
                    <label data-side-filters>De </label>
                    <button type="button" data-ng-click="datepicker('dateStart')" data-side-filters>
                        <i class="material-icons">event</i>
                    </button>
                    <input class="dateInput" type="text" placeholder="Data de Início" data-ng-model="filters.DateStart" data-ng-change="getTests()" id="dateStart" datepicker data-side-filters />
                </div>
                <div class="calendario-grafico" data-side-filters>
                    <label data-side-filters>até </label>
                    <button type="button" data-ng-click="datepicker('dateEnd')" data-side-filters>
                        <i class="material-icons">event</i>
                    </button>
                    <input class="dateInput" type="text" placeholder="Data de Término" data-ng-model="filters.DateEnd" data-ng-change="getTests()" id="dateEnd" datepicker data-side-filters />
                </div>
            </div>
            <div class="col-seach" data-side-filters ng-if="!group">
                <label data-side-filters>Cód. da prova*</label>
                <div data-side-filters>
                    <input class="form-control" type="number" placeholder="Código da prova" data-ng-model="filters.Test_id" ng-change="changeTestCode()" id="testCode" data-side-filters />
                </div>
            </div>
            <div class="col-seach" data-side-filters ng-if="!group">
                <div data-side-filters>
                    <label data-side-filters>Prova*</label>
                    <select class="form-control"
                            ng-model="filters.Test_id"
                            ng-options="test.TestId as test.TestDescription for test in listFilter.Tests"
                            ng-title="listFilter.Tests"
                            ng-title-propertie="Description"
                            ng-title-index="1"
                            ng-title-selected
                            data-side-filters
                            ng-change="changeTest()"
                            id="selectTest">
                        <option value="">Selecione uma prova</option>
                    </select>
                </div>
            </div>
            <div class="col-seach" data-side-filters>
                <div data-side-filters>
                    <button data-side-filters class="btnCancelar pull-right" ng-click="clearFilters();">Limpar</button>
                    <button data-side-filters class="btnCancelar pull-right" ng-click="search();">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="tab-painel-tabela maxWidth" ng-show="showTabs">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#painel" aria-controls="painel" role="tab" data-toggle="tab"><i class="fa fa-bar-chart" aria-hidden="true"></i> Painel</a></li>
                <li role="presentation"><a href="#tabela" aria-controls="tabela" role="tab" data-toggle="tab"><i class="fa fa-table" aria-hidden="true"></i> Tabela</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="painel">

                    <div class="row fixed">
                        <div class="col-sm-12 menu-lateral" ng-if="listFilter.Disciplines.length > 0 && listFilter.CurriculumGrades.length > 0 ">
                            <div class="col-sm-12 divisao">
                                <p style="margin-left: 40px; width: auto;">Desempenho por : </p>
                                <select style="margin-left: 20px;" class="form-control"
                                        ng-change="getAveragesTests();"
                                        ng-model="filters.CurriculumGrade"
                                        ng-options="curriculumgrade as curriculumgrade.tcp_descricao for curriculumgrade in listFilter.CurriculumGrades track by curriculumgrade.tcp_id"
                                        ng-title="listFilter.CurriculumGrades"
                                        ng-title-propertie="tcp_descricao"
                                        ng-title-index="1"
                                        ng-title-selected
                                        data-side-filters>
                                    <option value="">Selecione um ano de aplicação</option>
                                </select>

                                <p style="margin-left: 40px; width: auto;">Disciplinas : </p>
                                <select style="margin-left: 20px;" class="form-control"
                                        ng-change="getAveragesTests();"
                                        ng-model="filters.Discipline"
                                        ng-options="discipline as discipline.Description for discipline in listFilter.Disciplines track by discipline.Id"
                                        ng-title="listFilter.Disciplines"
                                        ng-title-propertie="Description"
                                        ng-title-index="1"
                                        ng-title-selected
                                        data-side-filters>
                                    <option value="">Selecione uma disciplina</option>
                                </select>
                            </div>
                        </div>
                        <div class="expandir" style="background-color: #ededed">
                            <a class="fecha-zoom" ng-click="fechaZoom();"><i class="material-icons">fullscreen_exit</i></a>
                            <a class="downloadChartCorrection"><i class="material-icons" ng-click="downloadChart('#gfcPerformance')">file_download</i></a>
                            <canvas class="col-sm-12" id="gfcPerformance" style="max-height: 500px; height: 500px; max-width: 1130px; width:1130px; overflow-y: auto; overflow-x: hidden;">
                            </canvas>
                        </div>
						<a class="abre-zoom" ng-click="abreZoom();"><i class="material-icons">fullscreen</i></a>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="tabela">
                    <table ng-if="listFilter.Averages.AvgTeams.length > 0" class="table table-hover tableCorrecao ng-scope">
                        <colgroup>
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Turma</th>
                                <th class="text-center">Desempenho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="($indexTeam, turma) in listFilter.Averages.avgTeams track by $indexTeam">
                                <td>
                                    <span style="cursor:pointer;"
                                          data-trigger="hover"
                                          data-type="success"
                                          data-title="{{turma.Tur_codigo}}"
                                          data-animation="am-fade"
                                          data-placement="top"
                                          data-container="body"
                                          data-bs-tooltip>{{turma.Tur_codigo}}</span>
                                </td>
                                <td class="text-center">{{turma.Media}} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="cards maxWidth" ng-if="listFilter.Averages.AvgTeams.length <= 0 && listFilter.Disciplines.length > 0 && listFilter.CurriculumGrades.length > 0">
            <p class="nresultados">Nenhum resultado encontrado.</p>
        </div>
    </div>
</div>

<script>
	$(window).scroll(function () {
		var scroll = $(window).scrollTop();
		var objectSelect = $(".headerAdesao");
		if (objectSelect.offset() != null) {
			var objectPosition = objectSelect.offset().top;
			if (scroll > objectPosition) {
				$(".fixa").addClass("mudaClasse");
			} else {
				$(".fixa").removeClass("mudaClasse");
			}
		}
	});
</script>