<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="CronTrigger" value="0 0/10 * * * ?"/>

		<add key="VirtualPath" value=""/>
		<add key="StoragePath" value="" />
		<add key="StorageType" value="Local" />
		
		<add key="MongoDB_Connection" value="" />
		<add key="MongoDB_Database" value="" />
		
		<!-- Desabilita o migration -->
		<add key="DatabaseInitializerForType GestaoAvaliacao.Repository.Context.GestaoAvaliacaoContext, GestaoAvaliacao.Repository" value="Disabled" />
		<add key="DatabaseInitializerForType GestaoEscolar.Repository.Context.GestaoEscolarContext, GestaoEscolar.Repository" value="Disabled" />
	</appSettings>
</configuration>