<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="CoreSSO" connectionString="2OIa2JUFhOTwQumNRNXLhWp8z0msUv6uuNIH4qRaNjRTsdbPS2NOq6AEgPiZHhSjhVAlyr1oFErRe2UtZZaDB76e4e/abSpWzQBJ0fy/nPFXYf5wxtLWzyYpiP04acZfRrhieSCnep7PNw49lEZyDQ=="
            providerName="System.Data.SqlClient" />
        <add name="MSTech.Log" connectionString="2OIa2JUFhOTwQumNRNXLhWp8z0msUv6uuNIH4qRaNjRTsdbPS2NOq+LRpKv17JoLeokM1s5+RypC2ZVS30d3WcJJ8EfL8PWp/aLwY25s68y0/UJVpANAANVC4T/AXYdPd1dHLgAuqDofXtPOabm7vg=="
            providerName="System.Data.SqlClient" />
        <add name="GestaoAvaliacao" connectionString="2OIa2JUFhOTwQumNRNXLhWp8z0msUv6uuNIH4qRaNjRTsdbPS2NOqy0C+SBDiFiWx82TS6xb2ScfxHVfl9sAev4muW0dSA68N0eLBN1CDKSRv2CmoHaOwIc6gPWRHlYtFB5HpRpSFq0Xag8ylhyJCebYpxesr5Jj"
            providerName="System.Data.SqlClient" />
        <add name="GestaoEscolar" connectionString="2OIa2JUFhOTwQumNRNXLhWp8z0msUv6uuNIH4qRaNjRTsdbPS2NOq/nqOxU+GQ0bAt+uuqQAz2VqeOEoPLgaYAZtJjfn6MNu42va8fHK/0HO+JDPv1m5u+Rs4TTcCOtx2ps207KJZ1ttpSU5a6FCAMuH7drUhfGD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
