<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--conexão do banco de dados do mongodb-->
    <add key="MongoDB_Connection" value="p6IsYP5FsvCSyTu71IXXZ1WE/agK+ItDHaOynjdkgXXF7KBm6WTTigMidM9mTDSxKUtT43VyqOPVYPd3KHPwHprwVULAJvBMhjr9NUs3J/S2FK1Ny57xDcghRmEvpe2VRr1+DVMRZBBvDQxRRINg9uTxAx94dbtS+u3IEMtdjpQrFzVlVkDPHnkWOzxpfI+o" />
    <add key="MongoDB_Database" value="GestaoAvaliacao_OMR" />
    
    <add key="StorageType" value="Local" />
    <add key="StoragePath" value="C:/Projects/SME/SME-Serap-main/Src/GestaoAvaliacao/Files" />
  </appSettings>    
</configuration>