
@{
    ViewBag.Title = "Index";
}
<alert></alert>

<div class="wellCustom" ng-controller="ImportarResultadosPSPController">

    <div class="headerCustom">
        <h4>{{title}}<span>Listagem</span></h4>
    </div>

    <div class="pesquisa-upload row">
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-pesquisa cinza ng-pristine ng-valid" name="myText" placeholder="Código ou arquivo" ng-model="codigoOuNomeArquivo" maxlength="50">
                </div>
                <button class="btn-pesquisar" ng-click="pesquisarArquivo(true)" title="Pesquisar"><i class="material-icons">search</i></button>
            </form>
        </div>
    </div>

    <div class="well well-large">

        <div class="container-fluid semPadding">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="campoLabel">
                                <label>Tipo Resultado*: </label>
                                <div>
                                    <select id="tipoResultado" class="form-control" title="{{ tipoResultado.Nome }}"
                                            ng-model="tipoResultado"
                                            ng-options="tipoResult as tipoResult.Nome for tipoResult in listaTiposResultados"
                                            ng-title="listaTiposResultados"
                                            ng-title-propertie="Nome"
                                            ng-title-index="1">
                                        <option value="">--Selecione uma opção--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="campoLabel">
                                <label>Arquivo*: </label>
                                <input id="arquivo_resultado" type="file" accept="text/csv" ng-model="arquivoSelecionado" onchange="angular.element(this).scope().selecionarArquivo(this)" />
                            </div>
                            <!--<div class="campoLabel">
                                <div class="upload-group">
                                    <div ng-if="arquivoSelecionado.name"><label>Último arquivo selecionado:</label><br><label>{{arquivoSelecionado.name}}</label><br><br></div>
                                    <input type="text" placeholder="Clique no ícone para selecionar um arquivo" class="form-control input-upload" ng-model="arquivoSelecionado" disabled="true">
                                    <span class="input-group-btn fake-upload">
                                        <i class="material-icons">file_upload</i>-->
                                        @*<input type="file" title="Arquivo" uploader="field" id="file_uploader_{{component.Guid}}" ng-disabled="look" />*@                                        
                                    <!--</span>
                                    <div class="progress">
                                        <div id="processando_upload" class="progress-bar progress-bar-success active" role="progressbar" style="width: 0%">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="campoLabel">
                                <div class="footerCustom semPadding">
                                    <div class="botoes semMargin">
                                        <button type="button"
                                                class="btnPadrao2 pull-left"
                                                ng-click="salvarImportacao()">
                                            Importar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<form class="form-inline telaImagem" role="form">
            </form>*@

        <table class="table table-hover" ng-show="listaImportacoes.length != null" style=" margin-top: 0px;">
            <colgroup>
                <col width="10%" />
                <col width="55%" />
                <col width="15%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th class="center">Código</th>
                    <th class="center">Arquivo</th>
                    <th class="center">Status</th>
                    <th class="center">Data de upload</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="arquivo in listaImportacoes">
                    <td class="center">{{arquivo.Id }}</td>
                    <td class="center">{{arquivo.NomeArquivo }}</td>
                    <td class="center">{{arquivo.Status }}</td>
                    <td class="center">{{arquivo.CreateDate }}</td>
                </tr>
            </tbody>
        </table>
        <page method="carregaImportacoes('paginate')" total-pages="{{pages}}" total-itens="{{totalItens}}" page-size="pageSize" ng-show="listaImportacoes != null" data-arr-page-size="[10,20,30,40,50,100]"></page>
        <p class="nresultados" ng-show="listaImportacoes == null">Nenhum resultado encontrado.</p>

    </div>

</div>
