@*Alertas*@
<alert></alert>
<div class="wellCustom" data-ng-controller="FormDisciplineController">
    <div class="headerCustom">
        <h4>Componente curricular <span>Adicionar um novo componente curricular</span></h4>
    </div>
    <div class="well well-large">
        <div ng-init="carregaLevelEducation()">
            <form role="form">
                <div class="form-group">
                    @* Tipo Nivel de Ensino *@
                    <div class="campoLabel">
                        <label for="tipoNivelEnsino">Nível de ensino*: </label>
                        <div id="container">
                            <select id="tipoNivelEnsino" class="form-control"
                                    ng-model="selectedObjTipoNivelEnsino"
                                    ng-options="n as n.Description for n in tipoNivelEnsinoList"
                                    ng-title="tipoNivelEnsinoList"
                                    ng-title-propertie="Description"
                                    ng-title-index="1"
                                    ng-title-selected>
                                <option value="">--Selecione--</option>
                            </select>
                        </div>
                    </div>
                    <div class="campoLabel" ng-show="disciplines.length > 0">
                        <div id="container">
                            <p>Componente(s) curricular(es)*: </p>
                        </div>
                        <div id="container" style="width: 60%">
                            <div class="checkbox checkbox-colunas checkbox-primary">
                                <div ng-repeat="s in disciplines">
                                    <input id="{{s.Description}}_{{$index}}" type="checkbox" checklist-model="typeDiscipline.disciplines" checklist-value="s">
                                    <label for="{{s.Description}}_{{$index}}">
                                        {{s.Description}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="well well-large itens">
        <a class="btnCancelar pull-right" href="~/Discipline/List"> Cancelar </a>
        <button class="btnPadrao2 pull-right" ng-click="salvar(typeDiscipline.disciplines)" ng-disabled="selectedObjTipoNivelEnsino == undefined"> Salvar </button>
    </div>
</div>