<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Desabilita o migration -->
    <add key="DatabaseInitializerForType GestaoAvaliacao.Repository.Context.GestaoAvaliacaoContext, GestaoAvaliacao.Repository" value="Disabled" />
    <add key="DatabaseInitializerForType GestaoEscolar.Repository.Context.GestaoEscolarContext, GestaoEscolar.Repository" value="Disabled" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- ApiFgvEnsinoMedio -->
    <add key="ApiFgvEnsinoMedio_BaseUrl" value="https://ensinomediodigital.fgv.br/sandbox-api/" />
    <add key="ApiFgvEnsinoMedio_ClientId" value="202005181411" />
    <add key="ApiFgvEnsinoMedio_SecretKey1" value="1-1B814A11-3BDF-49-8D45-D6978C8CADDE" />
    <add key="ApiFgvEnsinoMedio_SecretKey2" value="2-7F371EB8-7C-4B6C-B544-7D912B4EB77D" />
    <add key="ApiFgvEnsinoMedio_SecretKey3" value="3-111EBB65-8930-46-9640-495652F05F7E" />
    <add key="ApiFgvEnsinoMedio_SecretKey4" value="4-96B0E399-22-43B7-BB87-6C404F8F4B18" />
    <add key="ApiFgvEnsinoMedio_SecretKey5" value="5-22F5D803-0D-410D-A7D1-E0A9BEB4F185" />
    <add key="ApiFgvEnsinoMedio_SecretKey6" value="6-44F55744-3D38-46-A2DE-584B4BE7C87F" />
    <add key="ApiFgvEnsinoMedio_SecretKey7" value="7-DD8A1B74-F704-4D-8476-0A579563AA62" />
    <add key="ApiFgvEnsinoMedio_UrlApiEol" value="http://smeintegracaoapi.sme.prefeitura.sp.gov.br/" />
    <add key="ApiFgvEnsinoMedio_ThreadsEnvio" value="1" />

  </appSettings>
  <connectionStrings>
    <add name="GestaoAvaliacao_SGP" connectionString="" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>