<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <clear />
  <add name="GestaoCore" connectionString="2OIa2JUFhOTMHj1keIIC9Pr4y8AtPkiE2v+o+z8N36ZJyqJ393KPl2K6eGFtbl5ShkvaKvrEfDybylfL7QXn5Y501EjEZNmfK2ol3iivHWzk2ILKx7eclSgfb+7z24R77SCm1mgGvSHJ2b2yzHZwcdIJVyyz/ydn9WVWgbidg54="
   providerName="System.Data.SqlClient" />
  <add name="GestaoEscolar" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBF9mmeyqE1z94XY074GU0cC1F7EnAMnhVZGvTiNwaE38Hav/YcKGmtiMkqygMEMK5LbE+9vzK3UnR6ZuSiahf+9BWKWnkvR98="
   providerName="System.Data.SqlClient" />
  <add name="MSTech.Log" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBWrXXFdbu5APa92L8Q7jByLJXLMUw60Lc0NXuLhlfgTibJNhlPXwnZ46XyAiDn8zlRg1QGDNc+UTc+mAmtQ/Br"
   providerName="System.Data.SqlClient" />
  <add name="CoreSSO" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBWrXXFdbu5ALw2p1S3MHd+oEYDpRUDgAIoIR6kdQN2cnUxTWoEP6s2cjP8UvdTnyKmMdyg9i0D9saADHQPmTD2"
   providerName="System.Data.SqlClient" />
  <add name="GestaoAvaliacao" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBF9mmeyqE1z94XY074GU0cSpZx7/0xnd1YgQ3MnAWQISabxQYjoiXuuwBMKCqw/Y0l3S45PcDeKdytBppRnnkNhqaFKjIBw55RmEbc+ETKkA=="
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>