<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <clear />
  <add name="GestaoCore" connectionString="2OIa2JUFhOTMHj1keIIC9Pr4y8AtPkiE2v+o+z8N36ZJyqJ393KPl2K6eGFtbl5ShkvaKvrEfDybylfL7QXn5Y501EjEZNmfK2ol3iivHWzk2ILKx7eclSgfb+7z24R77SCm1mgGvSHJ2b2yzHZwcdIJVyyz/ydn9WVWgbidg54="
   providerName="System.Data.SqlClient" />
  <add name="GestaoEscolar" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBF9mmeyqE1z94XY074GU0cC1F7EnAMnhV1di7YTCk1racSERtAvcG37lCKBfWBDHJP4jPE/wkevy3eLUhFgVn8GwTsbtaqVf5OKNZFy5rtQg=="
   providerName="System.Data.SqlClient" />
  <add name="MSTech.Log" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBWrXXFdbu5APa92L8Q7jByi7Pksnny6FFbm7uHl0l8D6gekb5F8DShgBZGBeRR5B66qBH3K4wR8WLU4xPhFxeZcid3O+xAxJI="
   providerName="System.Data.SqlClient" />
  <add name="CoreSSO" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBWrXXFdbu5ALw2p1S3MHd+o7iXTO3yY8l4VY1VnPmJ8cZzx2og1M//TcBGsdnYDf8fTyv8rnuJjLBpVmNbA/iDpuioQ29TbPM="
   providerName="System.Data.SqlClient" />
  <add name="GestaoAvaliacao" connectionString="2OIa2JUFhOTMHj1keIIC9OiTCKhxkLsVhQV+CUQjYXYxXv2/17cX2j+qmhYPY88DLBeNk+nafWBF9mmeyqE1z94XY074GU0cSpZx7/0xnd1YgQ3MnAWQISabxQYjoiXuuwBMKCqw/Y0l3S45PcDeKdytBppRnnkNhqaFKjIBw55RmEbc+ETKkA=="
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>