<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <clear />
  <add name="GestaoCore" connectionString="2OIa2JUFhOSu5En5JY7m/KlKhOZ2UIw6+6MhboCMg/Frdi/cbMNhwDMpL3hXy3PjZwg6jN2Hd5NM2ADWmZ72AmeYMq0+Hwak061M8RFgLc7KBbWDkxuLPQ=="
   providerName="System.Data.SqlClient" />
  <add name="GestaoEscolar" connectionString="2OIa2JUFhOSu5En5JY7m/KlKhOZ2UIw6+6MhboCMg/Frdi/cbMNhwN5jB220KbrOg55VFkcrggbKO3LN0Pb7WJK5NvZ6dHkl2muqg+BH/Rf6ofgKcFhONg=="
   providerName="System.Data.SqlClient" />
  <add name="MSTech.Log" connectionString="2OIa2JUFhOSu5En5JY7m/KlKhOZ2UIw6+6MhboCMg/EoW6O4RmgmWrHzAaQMXuPynuGYtZKNigYVT6aUb+ROKjwJhQN3Xak5ilFc4kl72ro="
   providerName="System.Data.SqlClient" />
  <add name="CoreSSO" connectionString="2OIa2JUFhOSu5En5JY7m/KlKhOZ2UIw6+6MhboCMg/EoW6O4RmgmWleZ7dsCGubh6rSWZqDdNdJ5+/oH8BHL6oOijV1NFBm+dJqnvnZlqQk="
   providerName="System.Data.SqlClient" />
  <add name="GestaoAvaliacao" connectionString="2OIa2JUFhOSu5En5JY7m/KlKhOZ2UIw6+6MhboCMg/Frdi/cbMNhwN5jB220KbrOubVNJN0T6KIvwzFsNavgohd2HLCnTpM3plevBEw1+y1chNfZkseErQ=="
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>