<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="DatabaseInitializerForType GestaoAvaliacao.Repository.Context.GestaoAvaliacaoContext, GestaoAvaliacao.Repository" value="Disabled" />
		<add key="DatabaseInitializerForType GestaoEscolar.Repository.Context.GestaoEscolarContext, GestaoEscolar.Repository" value="Disabled" />

		<add key="ValidIssuer" value="gestaoavaliacao" />
		<add key="securityKey" value="AM1WjpTX1cIBmn4IX242234vM16zhTWa" />

		<add key="MongoDB_Connection" value="p6IsYP5FsvApKdcR3rELTf712QK6RdA/W65i0n5xN8ye5PK09N2k2Dt+QZpt9IJE+rETVbQz04cR8PWfxYunIE9K9a9h4udKB8dXnCBKlUDjq+nwyDt3lt3vyO2LLdIjrWnUdSfrz7d2GL5D2CaJdVXYeOpqGSsa" />
		<add key="MongoDB_Database" value="GestaoAvaliacao" />

		<add key="StorageType" value="Local" />

		<add key="WebSocketUrl" value="http://localhost:8080" />
	</appSettings>
</configuration>
