@using GestaoAvaliacao.WebProject.Facade

@{
	ViewBag.Title = ApplicationFacade.TituloSistema;
}
<div class="jumbotron">
	<h1>@ViewBag.Title</h1>
	<p class="lead">Sua ferramenta completa para aplicação de provas</>
</div>
<div class="row">
	
</div>