<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CoreSSO" connectionString="2OIa2JUFhOSeMF/8udQtPz5GQyulyS/bkxNFaHZHFuUjeLaKachWz5ep95betI2370Rbe4mOYpc54n6c36dHyCwejbA619Y76z3gCswX3yr7h20GZQwwhn90SRWk67qAR+vmhPw/ezyKws4Cs+uFXg==" />
  </connectionStrings>
</configuration>