<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <connectionStrings>
    <add name="ProvaSP" connectionString="Data Source=SMESQLCLUSTER\sme_prd;Initial Catalog=ProvaSP;User Id=user_gestaoavaliacao;Password=gestaoavaliacao@adm;"/>
    <add name="ProvaSP_CoreSSO" connectionString="Data Source=SMESQLCLUSTER\sme_prd;Initial Catalog=CoreSSO;User Id=user_coresso;Password=coresso@adm;"/>
    <add name="ProvaSP_GestaoEscolar" connectionString="Data Source=SMESQLCLUSTER\sme_prd;Initial Catalog=GestaoAvaliacao_SGP;User Id=user_gestaoavaliacao;Password=gestaoavaliacao@adm;"/>
    <add name="DEBUG_ProvaSP" connectionString="Data Source=soca-db01.educacao.intranet;Initial Catalog=ProvaSP;User Id=user_gestaoavaliacao;Password=gestaoavaliacao@adm;"/>
    <add name="DEBUG_ProvaSP_CoreSSO" connectionString="Data Source=soca-db01.educacao.intranet;Initial Catalog=CoreSSO;User Id=user_coresso;Password=coresso@adm;"/>
    <add name="DEBUG_ProvaSP_GestaoEscolar" connectionString="Data Source=soca-db01.educacao.intranet;Initial Catalog=GestaoAvaliacao_SGP;User Id=user_gestaoavaliacao;Password=gestaoavaliacao@adm;"/>
  </connectionStrings>
  
</configuration>
